
@{
    ViewBag.Title = "StudentPortal";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Student Portal</h2>

<div class="row">
    <div class="col-lg-3 studebt-main-details">
        <h3>Student Profile</h3>
        <div class="row">
            <div class="col-lg-4">
                <div class="student-profil">
                    <img src="image/avatar3.png" class="img-fulid w-100" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="student-profil-main">
                    <h4>Md. Shoaib Akhter</h4>
                    <h5>Id 254963</h5>
                    <h5>Class: Six</h5>
                </div>
            </div>

        </div>
        <div class="button text-center">
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View</a>
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Edit</a>
        </div>
    </div>
    <div class="col-lg-3 sms-list-main">
        <div class="sms-list">
            <h3>
                SMS List
                <span>View All</span>
            </h3>
        </div>
        <div class="sms-iteams">
            <h4>
                Object Oriented Programing
                <span>New <br>2:16 PM</span>
            </h4>
        </div>
        <div class="sms-iteams">
            <h4>
                Object Oriented Programing
                <span>New <br>2:16 PM</span>
            </h4>
        </div>
        <div class="sms-iteams">
            <h4>
                Object Oriented Programing
                <span>New <br>2:16 PM</span>
            </h4>
        </div>
    </div>
    <div class="col-lg-3 attendence-main">
        <h3>Attendence</h3>
        <div class="attendence m-auto">
            <p>75 <sup>%</sup></p>
        </div>
    </div>
    <div class="col-lg-3 Payment-main">
        <h3>Next Payment</h3>
        <p>Taka 10,300.00</p>
        <div class="row">
            <div class="col-lg-6">
                <div class="Payment-iteams">
                    <h4>Payment Type</h4>
                    <h5>Tuition Fee</h5>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="Payment-iteams">
                    <h4>Payment Type</h4>
                    <h5>Tuition Fee</h5>
                </div>
            </div>
        </div>
        <div class="payment-button text-center">
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Make Payment</a>
        </div>
    </div>
</div>
<!---------calender part start-------------->
<div class="row">
    <div class="col-lg-7 mt-4">
        <div class="calender">
            <div class="row">
                <div class="col-lg-5">
                    <h3>Academic Calender</h3>
                </div>
                <div class="col-lg-7">
                    <div class="calender-titels">
                        <span class="present">Present</span>
                        <span class="absent">Absent</span>
                        <span class="leave">Leave</span>
                        <span class="holiday">Holiday</span>
                    </div>
                </div>
            </div>
            <ul class="month">
                <li>
                    <h1>January</h1>
                    <h2>2016</h2>
                </li>
                <span class="prev">&#10094;</span>
                <span class="next">&#10095;</span>
            </ul>
            <ul class="weeks">
                <li>Sa</li>
                <li>Su</li>
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
            </ul>
            <ul class="days"></ul>
        </div>
    </div>
    <div class="col-lg-5 routing-main mt-3">
        <div class="class-routing">
            <h3>Class Routing</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 mt-2">
                <div class="sunday text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="routing-date text-center">
                    <span>Sunday</span>
                    <h6> 02.02.2019</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mt-2">
                <div class="sunday text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="routing-date text-center">
                    <span>Sunday</span>
                    <h6> 02.02.2019</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mt-2">
                <div class="sunday text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="routing-date text-center">
                    <span>Sunday</span>
                    <h6> 02.02.2019</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mt-2">
                <div class="sunday text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="routing-date text-center">
                    <span>Sunday</span>
                    <h6> 02.02.2019</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mt-2">
                <div class="sunday text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="routing-date text-center">
                    <span>Sunday</span>
                    <h6> 02.02.2019</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mt-2">
                <div class="sunday text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="routing-date text-center">
                    <span>Sunday</span>
                    <h6> 02.02.2019</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mt-2">
                <div class="sunday text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="routing-date text-center">
                    <span>Sunday</span>
                    <h6> 02.02.2019</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mt-2">
                <div class="sunday text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="routing-date text-center">
                    <span>Sunday</span>
                    <h6> 02.02.2019</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="subject">
                            <span>09:00</span>
                            <span>English</span>
                            <span class="icon-routing"><i class="fas fa-reply"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!---------calender part End-------------->
<div class="row">
    <div class="col-lg-7">
        <canvas id="lineChart" width="550" height="400"></canvas>
    </div>
    <div class="col-lg-5 notice-bord-main">
        <div class="notice-bord">
            <h3>Notice Board</h3>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="notice-iteams text-center">
                    <p>A</p>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="notice-contents">
                    <span>Annoucment</span>
                    <span id="notice-date">25-02-2019</span>
                    <p>Soft Cell are an English synthpop duo who...</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-2">
                <div class="notice-iteams text-center">
                    <p>R</p>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="notice-contents">
                    <span>Result</span>
                    <span id="notice-date">25-02-2019</span>
                    <p>Soft Cell are an English synthpop duo who...</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-2">
                <div class="notice-iteams text-center">
                    <p>A</p>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="notice-contents">
                    <span>Admission</span>
                    <span id="notice-date">25-02-2019</span>
                    <p>Soft Cell are an English synthpop duo who...</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-2">
                <div class="notice-iteams text-center">
                    <p>E</p>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="notice-contents">
                    <span>1st Semester Examinationt</span>
                    <span id="notice-date">25-02-2019</span>
                    <p>Soft Cell are an English synthpop duo who...</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-2">
                <div class="notice-iteams text-center">
                    <p>S</p>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="notice-contents">
                    <span>Study Tour</span>
                    <span id="notice-date">25-02-2019</span>
                    <p>Soft Cell are an English synthpop duo who...</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-2">
                <div class="notice-iteams text-center">
                    <p>S</p>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="notice-contents">
                    <span>Study Tour</span>
                    <span id="notice-date">25-02-2019</span>
                    <p>Soft Cell are an English synthpop duo who...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 mt-3 result-details">
        <div class="row">
            <div class="col-lg-12 mb-3 mt-2">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="results">
                            <h3>Result Details</h3>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="result-search">
                            <form>
                                <div class="row">
                                    <div class="col p-0 mr-1">
                                        <input type="text" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="col p-0">
                                        <input type="text" class="form-control" placeholder="Last name">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="result-button">
                            <button type="button" class="btn btn-primary btn-sm">Search</button>
                            <button type="button" class="btn btn-secondary btn-sm result-button-rec"><i class="fas fa-retweet"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped" id="result-table">
                    <thead>
                        <tr>
                            <th scope="col">Exam Name</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Grade Point</th>
                            <th scope="col">Obtained Marks</th>
                            <th scope="col">Total Marks</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Class Test</td>
                            <td>English</td>
                            <td>4.00</td>
                            <td>98.00</td>
                            <td>100.00</td>
                            <td>22-02-2019</td>
                        </tr>
                        <tr>
                            <td>2nd Class Test</td>
                            <td>Bangla</td>
                            <td>3.50</td>
                            <td>72.00</td>
                            <td>100.00</td>
                            <td>20-02-2019</td>
                        </tr>
                        <tr>
                            <td>Class Test</td>
                            <td>English</td>
                            <td>4.00</td>
                            <td>98.00</td>
                            <td>100.00</td>
                            <td>22-02-2019</td>
                        </tr>
                        <tr>
                            <td>Class Test</td>
                            <td>English</td>
                            <td>4.00</td>
                            <td>98.00</td>
                            <td>100.00</td>
                            <td>22-02-2019</td>
                        </tr>
                        <tr>
                            <td>Class Test</td>
                            <td>English</td>
                            <td>4.00</td>
                            <td>98.00</td>
                            <td>100.00</td>
                            <td>22-02-2019</td>
                        </tr>
                        <tr>
                            <td>Class Test</td>
                            <td>English</td>
                            <td>4.00</td>
                            <td>98.00</td>
                            <td>100.00</td>
                            <td>22-02-2019</td>
                        </tr>
                        <tr>
                            <td>Class Test</td>
                            <td>English</td>
                            <td>4.00</td>
                            <td>98.00</td>
                            <td>100.00</td>
                            <td>22-02-2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5 mt-3 assigment">
        <div class="assignment-head">
            <h3>Assignment</h3>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Object Oriented Programing</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Object Oriented Programing</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Computer System</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Mathematical Analysis</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Object Oriented Programing</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Computer System</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Mathematical Analysis</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Object Oriented Programing</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
        <div class="row assignment-main">
            <div class="col-lg-9 p-0">
                <div class="assigment-programing">
                    <p>Computer System</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 text-right">
                <div class="assiment-detils">
                    <p>Deadline</p>
                    <p>1 Mar 19</p>
                </div>
            </div>
        </div>
    </div>
</div>

