@{
    ViewBag.Title = "Daily Report";
}
<div class="portlet box" style="background-color:#18979b" ng-controller="BSU">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bar-chart-o" style="color:white"></i>Student Daily Attendance
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN First FORM-->
        <form class="form-horizontal" id="formCommonFeilds" name="formCommonFeilds" novalidate>
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Branch.$invalid}">
                            <label class="col-md-5 control-label">
                                Branch :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="StdDailyAtteneance.BranchId" required name="Branch" ng-options="StdDailyAtteneance.BranchId as StdDailyAtteneance.BranchName for StdDailyAtteneance in CommonFeilds.Branch">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && formCommonFeilds.Branch.$error.required" class="help-block">Branch Name Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Session.$invalid}">
                            <label class="col-md-5 control-label">
                                Session :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="StdDailyAtteneance.SessionId" required name="Session" ng-options="StdDailyAtteneance.SessionId as StdDailyAtteneance.SessionName for StdDailyAtteneance in CommonFeilds.Session">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>

                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && formCommonFeilds.Session.$error.required" class="help-block">Session Required</span>
                            </div>
                        </div>
                  
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Shift.$invalid}">
                            <label class="col-md-5 control-label">
                                Shift :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="StdDailyAtteneance.ShiftId" required name="Shift" ng-options="StdDailyAtteneance.ShiftId as StdDailyAtteneance.ShiftName for StdDailyAtteneance in CommonFeilds.Shift | filter:{BranchId:StdDailyAtteneance.BranchId}:true">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && formCommonFeilds.Shift.$error.required" class="help-block">Shift Name Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Class.$invalid}">
                            <label class="col-md-5 control-label">
                                Class :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="StdDailyAtteneance.ClassId" ng-change="GetSection()" ng-disabled="sid" required name="Class" ng-options="StdDailyAtteneance.ClassId as StdDailyAtteneance.ClassName for StdDailyAtteneance in CommonFeilds.ClassInfo">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && formCommonFeilds.Class.$error.required" class="help-block">Class Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Section.$invalid}">
                            <label class="col-md-5 control-label">
                                Section :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-disabled="StdDailyAtteneance.ClassId==null" ng-model="StdDailyAtteneance.SectionId" required name="Section" ng-options="S.SectionId as S.SectionName for S in Sections">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && formCommonFeilds.Section.$error.required" class="help-block">Section Name Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Section.$invalid}">
                            <label class="col-md-5 control-label">
                                Date :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <input class="form-control" name="Date" type="datetime" placeholder="Date" readonly ng-change="getOrderbydate()" ng-click="p2=true" is-open="p2" uib-datepicker-popup="dd-MM-yyyy" ng-model="StdDailyAtteneance.Date" />
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && formCommonFeilds.Section.$error.required" class="help-block">Type Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">
                            </label>
                            <div class="col-md-7">
                                <button ng-click="submitted=true;Search(formCommonFeilds.$valid)" class="btn green col-md-6">Show</button>
                                <button ng-click="Reset()" class="btn info col-md-5 col-md-offset-1">Reset</button>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<label class="col-md-1 control-label">
                                </label>*@
                            <div class="col-md-12">
                                <button ng-click="Report();submitted=true;" class="btn green col-md-6">Daily Attendance</button>
                                <button ng-click="ReportWithMissPreiod();submitted=true;" class="btn green col-md-5 col-md-offset-1">Miss Period</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!-- End First Form-->

    </div>
    <!-- BEGIN TABLE-->
    <div class="portlet-body">
        <div class="table-container">
            <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                <table class="table table-bordered table-hover">
                    <thead style="background-color:#18979b">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Roll</th>
                            <th>Status</th>
                            <th>Missed Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="AspNetusers.results.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                        <tr ng-repeat="item in StudentAttendentInfos">
                            <td>{{item.StudentInsID}}</td>
                            <td>{{item.FullName}}</td>
                            <td>{{item.RollNo}}</td>
                            <td ng-if="item.DayStatus=='P'" style="color:black"><strong>{{item.DayStatus}}</strong></td>
                            <td ng-if="item.DayStatus=='A'" style="color:red"><strong>{{item.DayStatus}}</strong></td>
                            <td ng-if="item.DayStatus=='L'" style="color:deeppink"><strong>{{item.DayStatus}}</strong></td>
                            <td>{{item.AbscondingPeriod}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END TALE-->
</div>


@section Scripts{
    <script type="text/javascript">
        OEMSApp.controller("BSU", ["$scope", "$http", "SweetAlert", "$filter", "$window", "blockUI",
          function ($scope, $http, SweetAlert, $filter, $window, blockUI) {

              init();
              function init() {
                  initialize();
                  getAllCommons();
              }
              function initialize() {
                  $scope.StudentAttendentInfos = [];
                  $scope.StdDailyAtteneance = {};
              };
              $scope.Reset = function Reset() {

                  $scope.submitted = false;
                  $scope.StdDailyAtteneance = [];
              };
              function getAllCommons() {//for First form
                  $scope.CommonFeilds = [];

                  $http({
                      method: 'GET',
                      url: baseUrl + 'Common/GetCommonItem/'
                  }).then(function successCallback(response) {
                      $scope.CommonFeilds = response.data.results;

                  }, function errorCallback(response) {
                      toastr["error"](response.data.message);
                  });
              }
           $scope.GetSection = function GetSection() {//Section droupdown lood for first form
                  $scope.Sections = []; // ShiID BranchId
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Common/GetSection/' + $scope.StdDailyAtteneance.SessionId + "/" + $scope.StdDailyAtteneance.ShiftId + "/" + $scope.StdDailyAtteneance.ClassId 
                  }).then(function successCallback(response) {
                      $scope.Sections = response.data.results;
                  }, function errorCallback(response) {
                      toastr["error"](response.data.message);
                  });
              }
              $scope.Search = function Search(formCommonFeilds) {
                  if (formCommonFeilds) {
                      $scope.StudentAttendentInfos = [];
                      var date = $filter('date')($scope.StdDailyAtteneance.Date, "MM/dd/yyyy");
                      $http({
                          method: 'GET',
                          //url: baseUrl + 'Attendance/SearchStdDailyAtteneanceInfo/' + $scope.StdDailyAtteneance.VersionId + '/' + $scope.StdDailyAtteneance.SessionId + '/' + $scope.StdDailyAtteneance.BranchId + '/' + $scope.StdDailyAtteneance.ShiftId + '/' + $scope.StdDailyAtteneance.ClassId + '/' + $scope.StdDailyAtteneance.GroupId + '/' + $scope.StdDailyAtteneance.SectionId + '/' + date
                          url: baseUrl + 'Attendance/SearchStdDailyAtteneanceInfo?SessionId=' + $scope.StdDailyAtteneance.SessionId + '&BranchId=' + $scope.StdDailyAtteneance.BranchId + '&ShiftId=' + $scope.StdDailyAtteneance.ShiftId + '&ClassId=' + $scope.StdDailyAtteneance.ClassId + '&SectionId=' + $scope.StdDailyAtteneance.SectionId + '&date=' + date
                      }).then(function successCallback(response) {
                          $scope.StudentAttendentInfos = response.data.results;
                          blockUI.stop();
                          if (response.data.message!=null)
                           toastr["success"](response.data.message);
                      }, function errorCallback(response) {
                          toastr["error"](response.data.message);
                      });
                  }
              };
              $scope.Report = function Report() {
                  //var messageString;
                  //if ($scope.StdDailyAtteneance.VersionId == null || angular.isUndefined($scope.StdDailyAtteneance.VersionId)) {
                  //    messageString = "Version ";
                  //}
                  //if ($scope.StdDailyAtteneance.SessionId == null || angular.isUndefined($scope.StdDailyAtteneance.SessionId)) {
                  //    messageString = messageString+"Session ";
                  //}
                  //if ($scope.StdDailyAtteneance.BranchId == null || angular.isUndefined($scope.StdDailyAtteneance.BranchId)) {
                  //    messageString = messageString + "Branch ";
                  //}
                  //if ($scope.StdDailyAtteneance.ShiftId == null || angular.isUndefined($scope.StdDailyAtteneance.ShiftId)) {
                  //    messageString = "Shift ";
                  //}
                  //if ($scope.StdDailyAtteneance.ClassId == null || angular.isUndefined($scope.StdDailyAtteneance.ClassId)) {
                  //    messageString = messageString + "Class ";
                  //}
                  //if ($scope.StdDailyAtteneance.GroupId == null || angular.isUndefined($scope.StdDailyAtteneance.GroupId)) {
                  //    messageString = messageString + "Group ";
                  //}
                  //if ($scope.StdDailyAtteneance.SectionId == null || angular.isUndefined($scope.StdDailyAtteneance.SectionId)) {
                  //    messageString = messageString + "Section ";
                  //}
                  //if (date == null) {
                  //    messageString = messageString + "Date ";
                  //}
                  //if($scope.formCommonFeilds.$valid){
                  if ($scope.formCommonFeilds.$invalid)
                      return;
                  var date = $filter('date')($scope.StdDailyAtteneance.Date, "MM/dd/yyyy");
                  $scope.uri = "@Url.Action("StdDailyAtteneanceInfoSectionWays", "Report")?SessionID=" + $scope.StdDailyAtteneance.SessionId + "&BranchId=" + $scope.StdDailyAtteneance.BranchId + "&ShiftId=" + $scope.StdDailyAtteneance.ShiftId + "&ClassId=" + $scope.StdDailyAtteneance.ClassId + "&SectionId=" + $scope.StdDailyAtteneance.SectionId + "&date=" + date;
                  $window.open($scope.uri, '_blank');
                  //}
                  //else {
                  //    toastr["info"](messageString+"is requir.");
                  //}
              };
              $scope.ReportWithMissPreiod = function ReportWithMissPreiod() {
                  if ($scope.formCommonFeilds.$invalid)
                      return;
                  var date = $filter('date')($scope.StdDailyAtteneance.Date, "MM/dd/yyyy");
                  $scope.uri = "@Url.Action("ReportWithMissPreiod", "Report")?SessionID=" + $scope.StdDailyAtteneance.SessionId + "&BranchId=" + $scope.StdDailyAtteneance.BranchId + "&ShiftId=" + $scope.StdDailyAtteneance.ShiftId + "&ClassId=" + $scope.StdDailyAtteneance.ClassId + "&SectionId=" + $scope.StdDailyAtteneance.SectionId + "&date=" + date;
                  $window.open($scope.uri, '_blank');

              };
          }]);
    </script>
}








