@using System.Data

@{
    ViewBag.Title = "Student Attendance Section Wise";
}

@{
    ViewBag.Title = "Students Obtain Marks Entry By ";
    var VersionID = Request.QueryString["VersionID"];
    var SessionId = Request.QueryString["SessionId"];
    var BranchID = Request.QueryString["BranchID"];
    var ShiftID = Request.QueryString["ShiftID"];
    var ClassId = Request.QueryString["ClassId"];
    var GroupId = Request.QueryString["GroupId"];
    var SectionId = Request.QueryString["SectionId"];
    var SubjectID = Request.QueryString["SubjectID"];
    var MainExamId = Request.QueryString["MainExamId"];
    var SubExamId = Request.QueryString["SubExamId"];
    var DividedExamId = Request.QueryString["DividedExamId"];
    var VersionName = Request.QueryString["VersionName"];
    var SessionName = Request.QueryString["SessionName"];
    var BranchName = Request.QueryString["BranchName"];
    var ShiftName = Request.QueryString["ShiftName"];
    var ClassName = Request.QueryString["ClassName"];
    var GroupName = Request.QueryString["GroupName"];
    var SectionName = Request.QueryString["SectionName"];   
    var Name = Request.QueryString["FullName"];

}
    <style type="text/css">
        .step1{             
             color: #337ab7;   
             font-size:16px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              padding: 5px;               
        }
            .step2{
             font-size:16px;
             color: #398439;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              padding: 5px;             
        }
                   .step3{ 
                font-size:16px;            
                color: #269abc;
                 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                     padding: 5px;
                
        }
           .step4{  
            font-size:16px;           
            color: #d58512;
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
             padding: 5px;
           
        }
          .step5{
               font-size:16px;
           color: #ac2925;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                padding: 5px;             
        }                                       
           .step6{ 
               font-size:16px;       
           color: #398439;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                padding: 5px;            
        }
        .step7{  
            font-size:16px;    
           color: #ff6a00;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 5px;         
        }
    </style>
<h2 class="well-sm btn-primary">Student Attendance Section Wise</h2>
<div style="background-color:white; padding:10px 0 10px 0">
    <div>
        @ViewBag.EncodedHtml
    </div>        
</div>


