
@{
    ViewBag.Title = "FeesCancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron bg bg-warning ">
        <h2 >Fees Payment Cancel</h2>
    </div>
</div>
