@{
    ViewBag.Title = "LedgerCoa";
}
<style>
    .border {

    }
</style>
<div ng-controller="LedgerCoas">
    <!-- Begin: life time stats -->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject font-green sbold uppercase">@ViewBag.Title</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-container">
                <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                    <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                </div>
                                <div class="col-md-7  col-sm-8  col-xs-4">
                                    @*<label for="search" class="control-label" style="padding-top:5px">Items</label>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-1">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-5">
                            <div id="sample_3_filter" class="pull-right">
                                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable"> </div>
                    <div class="col-lg-12 panel-primary bg-primary sbold">
                        <div class="col-lg-3">Ledger Name</div>
                        <div class="col-lg-3">Openning Balance</div>
                        <div class="col-lg-3">Current Balance</div>
                    </div>
                    <ul class="navbar-default nav nav-list">
                        <li ng-repeat="item in LedgerCoass" ng-init="parentIndex = $index">
                            <div class="col-lg-12 bordered">
                                <div class="col-lg-3">{{item.Name}}</div>
                                <div class="col-lg-3">{{item.OpenningBalance}}</div>
                                <div class="col-lg-3">{{item.CurrentBalance}}</div>
                            </div>
                           
                            <ul class="nav nav-list">
                                <li ng-repeat="value in item.LedgersVMs">
                                    <div class="col-lg-12">
                                        <div class="col-lg-3"  style="padding-left:20px">{{value.Name}}</div>
                                        <div class="col-lg-3">{{value.OpenningBalance}}</div>
                                        <div class="col-lg-3">{{value.CurrentBalance}}</div>
                                    </div>
                                    <ul class="nav nav-list"  >
                                        <li ng-repeat="value1 in value.LedgersVMs">
                                            <div class="col-lg-12">
                                                <div class="col-lg-3" style="padding-left:40px">{{value1.Name}}</div>
                                                <div class="col-lg-3">{{value1.OpenningBalance}}</div>
                                                <div class="col-lg-3">{{value1.CurrentBalance}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End: life time stats -->
</div>

@section Scripts{

    <script type="text/javascript">
        OEMSApp.controller("LedgerCoas", ["$scope", "$http", "SweetAlert",
              function ($scope, $http, SweetAlert) {
                  init();
                  function init() {
                      initialize();
                      getLedgerCoass();
                  }
                  function initialize() {
                      $scope.LedgerCoass = [];
                      $scope.currentPage = 1;
                      $scope.pageno = 1;
                      $scope.pagesize = 10;
                      $scope.getLedgerCoass = getLedgerCoass;
                      $scope.pageSizeArray = [];
                      $scope.pageSizeArray.push({ value: 5, text: 5 });
                      $scope.pageSizeArray.push({ value: 10, text: 10 });
                      $scope.pageSizeArray.push({ value: 20, text: 20 });
                      $scope.pageSizeArray.push({ value: 50, text: 50 });
                      $scope.currentPage = 1;
                      $scope.pageSize = 10;
                  }
                  function getLedgerCoass() {
                      $scope.LedgerCoass = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Accounts/GetLedgerList/'
                      }).then(function successCallback(response) {
                          $scope.LedgerCoass = response.data;
                      }, function errorCallback(response) {
                          toastr["warning"](response.data.Message);
                      });
                  }
              }]);
    </script>
}




