
<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
    <div class="container">
        <div class="page-footer-inner">
            2019 &copy; OEMS By
            <a target="_blank" href="http://www.addiesoft.com">Addie Soft Ltd</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</div>

