@{
    ViewBag.Title = "Main Exam Leave";
}
<style type="text/css">
    .portlet.light.bordered {
        border: 1px solid #e7ecf1 !important;
        background-color: wheat !important;
    }
</style>
<div class="portlet light bordered"  ng-controller="MainExamStudentLeaveCntrl">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject font-green sbold uppercase">@ViewBag.Title</span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-solid">
                    <button ng-click="resetForm()" class="btn green" data-target="#addmodal" data-toggle="modal"> <i class="fa fa-plus"></i> Add Main Exam Student Leave</button>
                </div>
            </div>
        </div>
        <!-- END FORM-->
        <div class="table-container">
            <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                <div class="table-scrollable">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th width="20%">Student Name</th>
                                <th width="8%">Version</th>
                                <th width="8%">Session</th>
                                <th width="15%">Branch</th>
                                <th width="8%">Shift</th>
                                <th width="10%">Class</th>
                                <th width="10%">Group</th>
                                <th width="10%">Section</th>
                                <th width="10%">Subject</th>
                                <th width="10%">Number Of Exam</th>
                                <th width="10%">Grand Exam</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="MainExamLeaveList.length <= 0"><td colspan="13" style="text-align:center;"><i class="fa fa-refresh"></i> Data not found!</td></tr>
                            <tr dir-paginate="item in MainExamLeaveList|itemsPerPage:pagesize" total-items="total_count">
                                <td>{{item.FullName}}</td>
                                <td>{{item.VersionName}}</td>
                                <td>{{item.SessionName}}</td>
                                <td>{{item.BranchName}}</td>
                                <td>{{item.ShiftName}}</td>
                                <td>{{item.ClassName}}</td>
                                <td>{{item.GroupName}}</td>
                                <td>{{item.SectionName}}</td>
                                <td>{{item.SubjectName}}</td>
                                <td>{{item.NumberOfExam}}</td>
                                <td>{{item.GrandExamName}}</td>
                                <td>
                                    <a  class="btn btn-sm btn-icon-only green" ng-click="Edit(item)" href="javascript:;" data-target="#addmodal" data-toggle="modal" >
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    <a ng-click="deleteMainExamStudentleave(item)" href="javascript:;" class="btn btn-sm btn-icon-only red">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <form class="form-horizontal" id="frmCommon" ng-submit="save()" name="formCommonFeilds" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Version.$invalid}">
                                        <label class="col-md-5 control-label">
                                            Version :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control" ng-model="MainExamLeave.VersionId" required name="Version" ng-options="MainExamLeave.VersionId as MainExamLeave.VersionName for MainExamLeave in CommonFeilds.Version">
                                                <option value="" selected="selected">Choose Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && formCommonFeilds.Version.$error.required" class="help-block">Version Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Session.$invalid}">
                                        <label class="col-md-5 control-label">
                                            Session :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control" ng-model="MainExamLeave.SessionId" required name="Session" ng-options="MainExamLeave.SessionId as MainExamLeave.SessionName for MainExamLeave in CommonFeilds.Session">
                                                <option value="" selected="selected">Choose Option</option>
                                            </select>

                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && formCommonFeilds.Session.$error.required" class="help-block">Session Required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Branch.$invalid}">
                                        <label class="col-md-5 control-label">
                                            Branch :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control" ng-model="MainExamLeave.BranchId" required name="Branch" ng-options="MainExamLeave.BranchId as MainExamLeave.BranchName for MainExamLeave in CommonFeilds.Branch">
                                                <option value="" selected="selected">Choose Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && formCommonFeilds.Branch.$error.required" class="help-block">Branch Name Required</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Shift.$invalid}">
                                        <label class="col-md-5 control-label">
                                            Shift :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control" ng-model="MainExamLeave.ShiftId" required name="Shift" ng-options="MainExamLeave.ShiftId as MainExamLeave.ShiftName for MainExamLeave in CommonFeilds.Shift">
                                                <option value="" selected="selected">Choose Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && formCommonFeilds.Shift.$error.required" class="help-block">Shift Name Required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Class.$invalid}">
                                        <label class="col-md-5 control-label">
                                            Class :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control" ng-model="MainExamLeave.ClassId" name="Class" ng-change="GetGroup(MainExamLeave.ClassId)" required ng-options="MainExamLeave.ClassId as MainExamLeave.ClassName for MainExamLeave in CommonFeilds.ClassInfo | filter:{VersionId:MainExamLeave.VersionId}:true">
                                                <option value="" selected="selected">Choose Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && formCommonFeilds.Class.$error.required" class="help-block">Class Required</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">
                                            Group :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control" ng-disabled="Groups.length <= 0" ng-change="GetSection();getGrandExam();getAllSubjects();" ng-model="MainExamLeave.GroupId" name="Group" ng-options="G.GroupId as G.GroupName for G in Groups">
                                                <option value="" selected>Choose Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Section.$invalid}">
                                        <label class="col-md-5 control-label">
                                            Section :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control" ng-model="MainExamLeave.SectionId" required name="Section" ng-change="getGrandExam()" ng-options="S.SectionId as S.SectionName for S in Sections">
                                                <option value="" selected="selected">Choose Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && formCommonFeilds.Section.$error.required" class="help-block">Section Name Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.grandExam.$invalid}">
                                        <label class="col-md-5 control-label">
                                            Grand Exam :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7 " ng-class="{'has-error' : isSubmitted1 && formCommonFeilds.grandExam.$invalid}">
                                            <select class="form-control" ng-model="MainExamLeave.GrandExamId" name="grandExam" ng-change="getAllSubjects();" ng-disabled="GrandExams.length <= 0" ng-options="grandExam.GrandExamId as grandExam.GrandExamName for grandExam in GrandExams" required>
                                                <option value="" selected="selected">Please Select</option>
                                            </select>
                                            <span ng-show="isSubmitted1 && MainExamLeave.grandExam.$error.required" class="help-block">Grand Exam Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Subjects.$invalid}">
                                        <label class="col-md-5 control-label">
                                            Subjects :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7 " ng-class="{'has-error' : isSubmitted1 && MainExamLeave.Subjects.$invalid}">
                                            <select id="grp" class="form-control" ng-model="MainExamLeave.SubjectID" name="Subjects" ng-change="getStudentList()" ng-disabled="Subjects.length <= 0" ng-options="S.SubID as S.SubjectName for S in Subjects">
                                                <option value="" selected="selected">Choose an Option</option>
                                            </select>
                                            <span ng-show="isSubmitted1 && MainExamLeave.Subjects.$error.required" class="help-block">Subjects Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.NumberOfExam.$invalid}">
                                        <label class="col-md-6 control-label">
                                            NumberOfExam :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 " ng-class="{'has-error' : isSubmitted1 && MainExamLeave.NumberOfExam.$invalid}">
                                            <input type="text" ng-model="MainExamLeave.NumberOfExam" name="NumberOfExam" class="form-control" ng-disabled="MainExamLeave.SubjectID == null">
                                            <span ng-show="isSubmitted1 && MainExamLeave.NumberOfExam.$error.required" class="help-block">Subjects Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label">
                                            Sudent ID or Name :<span class="required">*</span>
                                        </label>
                                        <div class="col-md-7" ng-class="{ 'has-error' :isSubmitted  && formCommonFeilds.Student.$invalid}">
                                            <input type="text" ng-model="MainExamLeave.Students" name="Student" ng-disabled="StudentList.length <= 0" uib-typeahead="Student as Student.StudentInsID + Student.FullName for Student in StudentList | filter:$viewValue | limitTo:8" class="form-control">
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="isSubmitted && formCommonFeilds.Student.$error.required " class="help-block"> Sudent ID or Name</span>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div  ng-show="MainExamLeave.Students != null">
                            <button ng-click="submitted1=true;" class="btn green-haze" ng-show="MainExamLeave.Id == null">Save </button>
                            <button ng-click="submitted1=true;" class="btn green-haze" ng-show="MainExamLeave.Id != null" > Update </button>
                            <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted1=false">Cancel</button>
                        </div>
                    </div>
</form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
    </div>
@section Scripts{
    <script type="text/javascript">
        OEMSApp.controller("MainExamStudentLeaveCntrl", ["$scope", "$http", "SweetAlert",
          function ($scope, $http, SweetAlert) {
              init();
              function init() {
                  initialize();
                  getAllDropdowns();
                  getAllCommons();
                  //getSubjects();
              }
              function initialize() {
                  $scope.Dropdowns = [];
                  $scope.CommonFeilds = [];
                  $scope.modalTitle = "Add Main Exam Student Leave";
                  $scope.currentPage = 1;
                  $scope.pageno = 1;
                  $scope.pagesize = 10;
                  $scope.total_count = 12;
                  $scope.txtsearch = '';
                  $scope.getAllDropdowns = getAllDropdowns;
                
                  //$scope.Search = Search;
                  $scope.getAllCommons = getAllCommons;
                  $scope.getMainExamLeaveList = getMainExamLeaveList;
                  $scope.StudentList = [];
                  $scope.GrandExams = [];
                  $scope.Subjects = [];
                  $scope.Groups = [];
                  $scope.btnDis = false;
                  $scope.spin = false;
              };
              function setProgress(s) {
                  $scope.btnDis = s;
                  $scope.spin = s;
              }
              $scope.resetForm = function resetForm() {
                  $scope.MainExamLeave = [];
              }
              $scope.GetGroup = function GetGroup(classid) {
                  $scope.Groups = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Common/GetGroup/' + classid
                  }).then(function successCallback(response) {
                      $scope.Groups = response.data.results;
                  }, function errorCallback(response) {

                  });
              }
              function getAllCommons() {
                  $scope.CommonFeilds = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Common/GetCommonItem/'
                  }).then(function successCallback(response) {
                      $scope.CommonFeilds = response.data.results;
                  }, function errorCallback(response) {
                  });
              }
              function getAllDropdowns() {
                  $scope.Dropdowns = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Common/GetAllDropDown/'
                  }).then(function successCallback(response) {
                      $scope.Dropdowns = response.data.results;
                  }, function errorCallback(response) {
                  });
              }
              $scope.GetSection = function GetSection() {
                  $scope.Sections = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Common/GetSection/' + $scope.MainExamLeave.SessionId + "/" + $scope.MainExamLeave.ShiftId + "/" + $scope.MainExamLeave.ClassId + "/" + $scope.MainExamLeave.GroupId
                  }).then(function successCallback(response) {
                      $scope.Sections = response.data.results;
                  }, function errorCallback(response) {
                      toastr["error"](response.data.message);
                  });
              }
              $scope.getGrandExam = function getGrandExam() {
                  $scope.GrandExams = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'ExamSetup/GetGrandExam/' + $scope.MainExamLeave.VersionId + "/" + $scope.MainExamLeave.SessionId + "/" + $scope.MainExamLeave.ClassId + "/" + $scope.MainExamLeave.GroupId
                  }).then(function successCallback(response) {
                      $scope.GrandExams = response.data.results;
                  }, function errorCallback(response) {
                  });
              }
              $scope.getAllSubjects = function getAllSubjects() {
                  $scope.Subjects = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'SubjectSetup/GetAllSubjectForVirtualExam/' + $scope.MainExamLeave.VersionId + "/" + $scope.MainExamLeave.ClassId + "/" + $scope.MainExamLeave.SessionId + "/" + $scope.MainExamLeave.GroupId
                  }).then(function successCallback(response) {
                      $scope.Subjects = response.data.results;
                  }, function errorCallback(response) {
                  });
              }
              $scope.getStudentList = function getStudentList() {
                  $scope.StudentList = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Student/GetStudentIDList/' + $scope.MainExamLeave.VersionId + "/" + $scope.MainExamLeave.SessionId + "/" + $scope.MainExamLeave.ClassId + "/" + $scope.MainExamLeave.GroupId
                  }).then(function successCallback(response) {
                      $scope.StudentList = response.data.results;
                  }, function errorCallback(response) {
                      toastr["error"](response.data.message);
                  });
              }

              $scope.Edit = function Edit(n) {
                  $scope.modalTitle = "Update Main Exam Student Leave";
                  $scope.MainExamLeave = n;
                  $scope.GetGroup(n.ClassId);
                  $scope.GetSection();
                  $scope.getGrandExam();
                  $scope.getAllSubjects();
                  $scope.getStudentList();
                  $scope.MainExamLeave.Students = n.StudentInsID + n.FullName
              }
              $scope.save = function save() {
                  if ($scope.formCommonFeilds.$invalid || $scope.MainExamLeave == null)
                      return;
                  if ($scope.MainExamLeave.Id == '' || typeof $scope.MainExamLeave.Id == 'undefined' ) {
                      $scope.MainExamLeave.StudentIID = $scope.MainExamLeave.Students.StudentIID;
                      $http({
                          method: 'POST',
                          url: baseUrl + 'GrandResult/AddMainExamLeaveStudent/',
                          data: $scope.MainExamLeave
                      }).then(function successCallback(response) {
                          getMainExamLeaveList();
                          toastr["info"](response.data.message);
                          $('#addmodal').modal('toggle');
                          $scope.MainExamLeave = [];
                      }, function errorCallback(response) {
                          toastr["error"](response.data.message);
                      });
                  }
                  else {
                      $http({
                          method: 'PUT',
                          url: baseUrl + 'GrandResult/UpdateMainExamLeaveStudent/',
                          data: $scope.MainExamLeave
                      }).then(function successCallback(response) {
                          getMainExamLeaveList();
                          toastr["info"](response.data.message);
                          $('#addmodal').modal('toggle');
                          $scope.MainExamLeave = [];
                      }, function errorCallback(response) {
                          toastr["error"](response.data.message);
                      });
                  }
              }
              $scope.getMainExamLeave = function getMainExamLeave() {
                  $scope.MainExamLeaveList = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'GrandResult/GetAllMainExamStudentleave/' + $scope.MainExamLeave.VersionId + "/" + $scope.MainExamLeave.SessionId + "/" + $scope.MainExamLeave.BranchId + "/" + $scope.MainExamLeave.ShiftId
                       + $scope.MainExamLeave.ClassId + "/" + $scope.MainExamLeave.GroupId + "/" + $scope.MainExamLeave.SectionId + "/" + $scope.MainExamLeave.GrandExamId
                  }).then(function successCallback(response) {
                      $scope.MainExamLeaveList = response.data.results;
                  }, function errorCallback(response) {
                      toastr["error"](response.data.message);
                  });
              }
              getMainExamLeaveList();
              function getMainExamLeaveList() {
                  $scope.MainExamLeaveList = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'GrandResult/GetAllMainExamLeaveStudent/'
                  }).then(function successCallback(response) {
                      $scope.MainExamLeaveList =response.data.results;
                  }, function errorCallback(response) {
                      toastr["error"](response.data.message);
                  });
              }
              $scope.deleteMainExamStudentleave = function deleteMainExamStudentleave(n) {
                  debugger;
                  // SweetAlert.swal("Good job!", "You clicked the button!", "success");
                  SweetAlert.swal({
                      title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                      confirmButtonText: "Yes, delete it!",
                      closeOnConfirm: false
                  },
                  function (isConfirm) {
                      if (isConfirm) {
                          $http({
                              method: 'DELETE',
                              url: baseUrl + 'GrandResult/DeleteMainExamStudentleave/' + n.Id
                          }).then(function successCallback(response) {
                              getMainExamLeaveList();
                              SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                          }, function errorCallback(response) {
                              toastr["error"](response.data.message);
                          });
                      }
                  });

              };
              $scope.ResetSource = function ResetSource() {

              }
              }]);
    </script>
}

