
@{
    ViewBag.Title = "Class Wise Result";
}
<div class="portlet box blue-hoki" ng-controller="SWR">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-user-plus"></i>@ViewBag.Title
        </div>

    </div>
    <div class="portlet-body form">
        <form novalidate name="mform" class="form-horizontal" id="form_sample_1">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : submitted && mform.Branch.$invalid}">
                            <label class="col-md-5 control-label">
                                Branch :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="ClassWiseResult.BranchID" required name="Branch" ng-options="GenerateResult.BranchId as GenerateResult.BranchName for GenerateResult in CommonFeilds.Branch">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && mform.Branch.$error.required" class="help-block">Branch Name Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && mform.Session.$invalid}">
                            <label class="col-md-5 control-label">
                                Session:
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="ClassWiseResult.SessionId" name="Session" ng-options="studentInfo.SessionId as studentInfo.SessionName for studentInfo in CommonFeilds.Session" required>
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && mform.Session.$error.required" class="help-block">Session Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && mform.class.$invalid}">
                            <label class="col-md-5 control-label">
                                Class
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="ClassWiseResult.ClassId" name="class" required ng-options="class.ClassId as class.ClassName for class in CommonFeilds.ClassInfo">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && mform.class.$error.required" class="help-block">Class Name Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : submitted && mform.Shift.$invalid}">
                            <label class="col-md-5 control-label">
                                Shift :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="ClassWiseResult.ShiftID" ng-disabled="ClassWiseResult.BranchID==null" ng-change="GetSection()" required name="Shift" ng-options="GenerateResult.ShiftId as GenerateResult.ShiftName for GenerateResult in CommonFeilds.Shift | filter:{BranchId:ClassWiseResult.BranchID}:true">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && mform.Shift.$error.required" class="help-block">Shift Name Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && mform.Term.$invalid}">
                            <label class="col-md-5 control-label">
                                Term :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="ClassWiseResult.TermId" ng-disabled="ClassWiseResult.ClassId==null" name="Term" ng-options="T.TermId as T.Name for T in Terms |filter:{ClassId:ClassWiseResult.ClassId}:true" required>
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && mform.Term.$error.required" class="help-block">Term Required</span>
                            </div>
                        </div>
               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : submitted && mform.MainExam.$invalid}">
                            <label class="col-md-5 control-label">
                                Main Exam :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-disabled="ClassWiseResult.TermId==null" ng-model="ClassWiseResult.MainExamId" name="MainExam" ng-options="T.MainExamId as T.MainExamName for T in MainExams |filter:{TermId:ClassWiseResult.TermId}:true" required>
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && mform.MainExam.$error.required" class="help-block">Main Exam Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && mform.Section.$invalid}">
                            <label class="col-md-5 control-label">
                                Section :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="ClassWiseResult.SectionId" required name="Section" ng-options="S.SectionId as S.SectionName for S in Sections">
                                    <option value="" selected="selected">Choose Option</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && mform.Section.$error.required" class="help-block">Section Name Required</span>
                            </div>
                        </div>
                       </div>

                </div>
                <div class="row" style="margin-top: 1%;">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">


                    </div>
                    <div class="col-md-4">
                        <div class="pull-right">
                            <button type="reset" ng-click="Reset()" class="btn red">Clear</button>
                            <button ng-click="submitted=true;Search()" class="btn green">Show</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <!-- BEGIN FORM-->

    </div>
    <div class="panel">
        <div class="panel-body">
            <table class="table table-bordered table-inverse">
                <thead class="btn-primary">
                    <tr>
                        <th><input type="checkbox" ng-model="selectedAll" ng-click="selectAll()" />  All</th>
                        <th> ID </th>
                        <th> Roll </th>
                        <th> Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in StudentInfos">
                        <td> <input type="checkbox" ng-model="item.Selected" value="false" ng-click="checkIfAllSelected()" /> </td>
                        <td> {{item.StudentInsID}} </td>
                        <td> {{item.RollNo}} </td>
                        <td width="25%"> {{item.FullName}} </td>
                        <td width="10%">
                            <a href="@Url.Action("ResultClassWise","Report")?MainExamId={{ClassWiseResult.MainExamId}}&StuIds={{item.StudentIID}}" class="btn btn-icon-only btn-primary" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    @*<tr>
                            <td colspan="6">
                                <a href="@Url.Action("MainExamResultCard","Report")?MainExamId={{SubWiseResult.MainExamId}}&SessionId={{SubWiseResult.SessionId}}&ClassId={{SubWiseResult.ClassId}}&StuId={{GetSelects()}}" class="btn btn-info btn-sm pull-right" target="_blank">View All Result</a>
                            </td>

                        </tr>*@

                </tbody>
            </table>
        </div>
        <!-- Table -->


    </div>


    <!-- END FORM-->
</div>


@section Scripts{
    <script type="text/javascript">
        OEMSApp.controller("SWR", ["$scope", "$http", "SweetAlert",
          function ($scope, $http, SweetAlert) {

                  init();
                  function init() {
                      initialize();
                      getAllCommons();
                      getTerms(1);
                      getMainExam(1);
                     // getMainExam();
                  }
                  function initialize() {
                      $scope.ClassWiseResult = {};

                      $scope.ClassWiseResult.SessionId = 0;
                      $scope.ClassWiseResult.BranchID = 0;
                      $scope.ClassWiseResult.ShiftID = 0;
                      $scope.ClassWiseResult.ClassId = 0;

                      $scope.ClassWiseResult.SectionId = 0;
                      $scope.ClassWiseResult.HouseId = 0;
                      $scope.ClassWiseResult.StudentType = 0;

                      //$scope.GenerateResult = {};

                      $scope.StudentInfos = [];
                      $scope.Dropdowns = [];
                      $scope.CommonFeilds = [];
                      $scope.currentPage = 1;
                      $scope.pageno = 1;
                      $scope.pagesize = 10;
                      $scope.total_count = 12;
                      $scope.txtsearch = '';

                      $scope.getMainExam = getMainExam;
                  };
                  function resetForm() {
                      $scope.submitted = false;
                  };

                  $scope.Reset = function Reset() {
                      $scope.ClassWiseResult = {};
                      $scope.submitted = false;
                      $scope.selectedAll = false;
                      $scope.StudentInfos = [];
                  };
                  function getTerms() {
                      $scope.Terms = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'SetupInstitution/GetAllTerm/'
                      }).then(function successCallback(response) {
                          // this callback will be called asynchronously
                          // when the response is available
                          $scope.Terms = response.data.results;
                          $scope.total_count = response.data.totalcount;
                          //console.log(response.data);
                      }, function errorCallback(response) {
                          toastr["warning"](response.data.Message);
                      });

                  }

                  $scope.GetSection = function GetSection() {
                      $scope.Sections = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Common/GetSection/' + $scope.ClassWiseResult.SessionId + "/" + $scope.ClassWiseResult.ShiftID + "/" + $scope.ClassWiseResult.ClassId
                      }).then(function successCallback(response) {
                          $scope.Sections = response.data.results;
                      }, function errorCallback(response) {
                          toastr["error"](response.data.message);
                      });
                  }
                  function getMainExam() {
                      $scope.MainExams = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'ExamSetup/GetAllMainExam/'
                      }).then(function successCallback(response) {
                          $scope.MainExams = response.data.results;
                          //console.log($scope.mainExams);
                          // $scope.AspNetRoles = response.data;
                          $scope.total_count = response.data.totalcount;
                          //console.log(response.data);
                      }, function errorCallback(response) {
                          toastr["warning"](response.data.Message);
                      });
                  }
      
                  $scope.selectAll = function () {
                      angular.forEach($scope.StudentInfos, function (item) {
                          item.Selected = $scope.selectedAll;
                      });

                  };
                  $scope.GetSelects = function GetSelects() {
                      var res = '';
                      angular.forEach($scope.StudentInfos, function (item) {
                          if(item.Selected)
                          {
                              res = res + ',' + item.StudentIID
                          }
                      });

                    return  res.trim()

                  };


                  $scope.checkIfAllSelected = function () {
                      $scope.selectedAll = $scope.StudentInfos.every(function (item) {
                          return item.Selected == true
                      })
                  };
                  $scope.Search = function Search() {
                      if ($scope.mform.$invalid)
                          return;

                      $scope.StudentInfos = [];
                      $http({
                          method: 'POST',
                          url: baseUrl + 'Student/SearchMainExam/',
                          data: $scope.ClassWiseResult
                      }).then(function successCallback(response) {
                          $scope.StudentInfos = response.data.results;
                          $scope.selectedAll = true;
                          angular.forEach($scope.StudentInfos, function (item) {
                              item.Selected = $scope.selectedAll;
                          });

                          toastr["success"](response.data.message);
                      }, function errorCallback(response) {
                          toastr["error"](response.data.message);
                      });

                  };



                  function getAllCommons() {
                      $scope.CommonFeilds = [];

                      $http({
                          method: 'GET',
                          url: baseUrl + 'Common/GetCommonItem/'
                      }).then(function successCallback(response) {
                          $scope.CommonFeilds = response.data.results;
                      }, function errorCallback(response) {
                          toastr["error"](response.data.message);
                      });
                  }



              }]);
    </script>
}




