@using System.Configuration;
@{
    string SchoolName = ConfigurationManager.AppSettings["SchoolName"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal | OEMS</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/media.css" rel="stylesheet" />

</head>

<body>
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="loginpageImage">
                        <img src="~/assets/img/logo/login-image2.png" class="img-fulid w-100" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="addieLogin">
                        <div class="title">Highly Impact <span style="font-weight: 700; color: #118588;">ADDIE Soft Ltd</span> </div>

                        @RenderBody()

                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/lightbox.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>

