@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    

<div>
    <h1>@ViewBag.Msg</h1>
    <hr />
    <h4><a href="@Url.Action("Login", "Account")">Back to Login</a></h4>
</div>
	
