@{
    ViewBag.Title = "Reset password confirmation!";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div>
    <h1>@ViewBag.Title</h1>
    <hr />
    <h4>
        Your password has been reset. <br> 
        Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h4>
</div>
