
@{
    ViewBag.Title = "Billing Method";
}



<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" ng-controller="ctrlSalaryMethod">
    <div class="row">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        All Billing Method
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-brand btn-icon-sm" data-toggle="modal" data-target="#addmodal" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-plus"></i> Add New Billing Method
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body">


                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">

                                <select class="form-control kt-font-brand" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-1">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-5">
                        <div id="sample_3_filter" class="pull-right">
                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover rounded">
                    <thead>
                        <tr class="btn-primary">
                            <th >SL#</th>
                            <th style="text-align:center">Billing Method Name</th>

                            <th style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="invoiceBillingMethodlist.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                        <tr dir-paginate="item in invoiceBillingMethodlist| filter:q  | itemsPerPage: pageSize" current-page="currentPage">
                            <td>{{$index+1}}</td>
                            <td align="center" >{{item.BillingMethodName}}</td>

                            <td align="center" @*ng-show="item.IsEdit==0"*@>
                                <a href="javascript:;" class="btn btn-outline-brand btn-elevate btn-icon" ng-click="editBillingMethod(item)" data-target="#addmodal" data-toggle="modal">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a ng-click="deletBillingMethod(item.Id)" href="javascript:;" class="btn btn-outline-danger btn-elevate btn-icon">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addBasic" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{modalTitle}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="resetForm();submitted=false"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row" ng-class="{ 'has-error' : submitted && addBasic.BillingMethodName.$invalid}">
                                        <label class="col-md-5 control-label"style="text-align:right">
                                            Billing Method Name :
                                            <span class="required">*</span>
                                             
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="BillingMethodInfo.BillingMethodName" class="form-control" placeholder="Billing Method Name" name="BillingMethodName" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addBasic.BillingMethodName.$error.required" class="help-block">Method Name Required</span>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn btn-success">{{modalbutton}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END FORM-->
@section Scripts{
    <script src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-repeater.min.js"></script>
    <script type="text/javascript">
        for (i = new Date().getFullYear() ; i > 1900; i--) {
            $('#yearpicker').append($('<option />').val(i).html(i));
        }
    </script>
    <script type="text/javascript">
        OEMSApp.controller("ctrlSalaryMethod", ["$scope", "$http", "SweetAlert",
              function ($scope, $http, SweetAlert) {
                  init();
                  function init() {
                      initialize();
                      GetAllInvoiceBillingMethod();
                  }

                  function initialize() {
                      $scope.modalbutton = 'Save';
                      $scope.modalTitle = 'Billing Method';
                      $scope.brnlist = [];
                      $scope.categorieslist = [];
                      $scope.subSubCategorieslist = [];
                      $scope.BillingMethodInfo = {};
                      $scope.invoiceBillingMethodlist = [];
                      $scope.subSubCategorieslist = [];
                      $scope.resetForm = resetForm;
                      $scope.checkUpdateId = 0;
                      $scope.pagesize = 10;
                      $scope.pageSizeArray = [];
                      $scope.pageSizeArray.push({ value: 5, text: 5 });
                      $scope.pageSizeArray.push({ value: 10, text: 10 });
                      $scope.pageSizeArray.push({ value: 20, text: 20 });
                      $scope.pageSizeArray.push({ value: 50, text: 50 });
                      $scope.currentPage = 1;
                      $scope.pageSize = 10;
                      $scope.subCategorydd = 0;
                      $scope.subSubCategorydd = 0;
                      $scope.categorydd = 0;
                      $scope.BillingMethodInfo.Id = 0;

                  }

                  function resetForm() {
                      $scope.modalTitle = "Add Billing Method";
                      $scope.BillingMethodInfo = {};
                      $scope.BillingMethodInfo.Id = 0;
                      $scope.Id = '';
                      $scope.addBasic.$setUntouched();
                      $scope.addBasic.$setPristine();
                      $scope.modalbutton = 'Save';
                      $scope.submitted = false;
                  }

                  $scope.save = function save() {
                      if ($scope.addBasic.$invalid)
                          return;
                      else {

                          console.log($scope.BillingMethodInfo)
                          var result = validation();
                          if (result) {

                              if ($scope.BillingMethodInfo.Id != 0) /// For Update
                              {
                                  if ($scope.BillingMethodInfo != '') {
                                      $http({
                                          method: 'PUT',
                                          url: baseUrl + 'Invoice/UpdateInvoiceBillingMethod',
                                          data: $scope.BillingMethodInfo
                                      }).then(function successCallback(response) {
                                          $('#addmodal').modal('toggle');
                                          toastr["info"](response.data.message);
                                          resetForm();
                                          GetAllInvoiceBillingMethod(); 
                                      }, function errorCallback(response) {
                                          toastr["warning"](response.data.Message);
                                      });
                                  }
                              }
                              else {  //  For Add
                                  console.log($scope.BillingMethodInfo)
                                  $http({
                                      method: 'POST',
                                      url: baseUrl + 'Invoice/AddInvoiceBillingMethod',
                                      data: $scope.BillingMethodInfo
                                  }).then(function successCallback(response) {
                                      $('#addmodal').modal('toggle');
                                      toastr["info"](response.data.message);
                                      resetForm();
                                      GetAllInvoiceBillingMethod();
                                  }, function errorCallback(response) {
                                      toastr["warning"](response.data.Message);
                                  });

                              }
                          }

                      }
                  };

                  function GetAllInvoiceBillingMethod() {
                      $scope.invoiceBillingMethodlist = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Invoice/GetAllInvoiceBillingMethod'
                      }).then(function successCallback(response) {
                          $scope.invoiceBillingMethodlist = response.data.results;
                      }, function errorCallback(response) {
                          toastr["info"](response.data.Message);
                      });
                  }


                  var categoryId;

                  $scope.deletBillingMethod = function deletBillingMethod(id) {
                      SweetAlert.swal({
                          title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                          confirmButtonText: "Yes, delete it!",
                          closeOnConfirm: false
                      },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'DELETE',
                                    url: baseUrl + 'Invoice/DeleteInvoiceBillingMethod/'+id,
                                   
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    GetAllInvoiceBillingMethod();
                                }, function errorCallback(response) {
                                    toastr["error"](response.data.Message);
                                });
                            }
                        });
                  }

                  $scope.editBillingMethod = function editBillingMethod(item) {
                      $scope.modalTitle = "Update Billing Method";
                      $scope.modalbutton = 'Update';
                      $scope.BillingMethodInfo.Id = item.Id;
                      $scope.BillingMethodInfo.BillingMethodName = item.BillingMethodName;
                     
                  }

                  function validation() {

                      if ($scope.BillingMethodInfo.Id == undefined) {
                          return true;
                      }
                      else {
                          if ($scope.BillingMethodInfo.BillingMethodName == null) {
                              toastr["info"]("Please Select any option..!");
                              return false;
                          }
                          else {
                              return true;
                          }
                      }
                  }

                  $scope.showLedgerdd = function showLedgerdd(value) {
                      if (value)
                          $scope.categorydd = 1;
                      else {
                          $scope.subCategorydd = 0;
                          $scope.subSubCategorydd = 0;
                          $scope.categorydd = 0;
                      }
                  }

              }]);
</script>
}














