
@{
    ViewBag.Title = "RuequestList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="StdRequestApply">
    <div class="portlet light bordered ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject font-green sbold uppercase">Request</span>
            </div>
         
        </div>
        <div class="portlet-body"  ng-show="RequestList.length>0">
            <div class="table-container">
                <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <div class="col-lg-4 col-md-8 col-sm-4 col-xs-8" style="padding-left:0px">
                                    <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                </div>
                                <div class="col-md-7  col-sm-8  col-xs-4">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-1">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-5">
                            <div id="sample_3_filter" class="pull-right">
                                <input ng-model="q" id="search" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Filter text">
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable"> </div>
                    <table class="table table-bordered table-inverse">
                        <thead class="btnColor">
                            <tr class="bg-primary">
                                <th>Request Type</th>
                                <th>Requested By</th>
                                <th>Date of Submission</th>
                                <th>CO Status</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody style="overflow:scroll">
                            <tr ng-show="RequestList.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                            <tr dir-paginate="item in RequestList| filter:q  | itemsPerPage: pageSize " current-page="currentPage" ng-style="{'background-color':$even?evenColor:oddColor}">
                                <td>{{item.RequestTypeName}}</td>
                                <td>{{item.RequestedBy}}</td>
                                <td>{{item.AddDate | date:"dd/MM/yyyy"}}</td>
                                <td>{{item.Remarks}}</td>
                                <td>{{item.Status}}</td>
                                <td>
                                    <div class="btn-group ">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" ng-disabled="item.Status=='Rejected' || item.Remarks=='Pending'" data-toggle="dropdown" aria-expanded="false">
                                            Options
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="left: -10%;">
                                            <li>
                                                <a href="#" ng-show="item.Status=='Pending'" data-target="#ViewDetails" data-toggle="modal" ng-click="view(item)">
                                                    View Details
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-show="item.Status=='Pending'" ng-click="updateStatus(item.Id,Status='Approved')">
                                                    Approve
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-hide="item.Status=='Rejected'" ng-click="updateStatus(item.Id,Status='Rejected')">
                                                    Reject
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ViewDetails" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title">View Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Name </label>
                                        <div class="col-md-8">
                                            <label class="form-control" style="height:auto"> {{View.RequestedBy}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Father's Name</label>
                                        <div class="col-md-8">
                                            <label class="form-control" style="height:auto"> {{View.FatherName}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" style="height:auto">Mother's Name</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.MotherName}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="View.RequestType==2">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.Date | date:"dd/MM/yyyy"}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="View.RequestType==3">
                                        <label class="col-md-4 control-label">Travel Desination</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.TravelDesination}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="View.RequestType==3">
                                        <label class="col-md-4 control-label">From Date</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.FromDate | date:"dd/MM/yyyy"}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="View.RequestType==3">
                                        <label class="col-md-4 control-label">To Date</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.ToDate | date:"dd/MM/yyyy"}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="View.RequestType==5">
                                        <label class="col-md-4 control-label">From Date</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.FromDate | date:"dd/MM/yyyy"}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="View.RequestType==5">
                                        <label class="col-md-4 control-label">To Date</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.ToDate | date:"dd/MM/yyyy"}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>

                                    </div>
                                    <div class="form-group" ng-show="View.RequestType==5">
                                        <label class="col-md-4 control-label">Leave</label>
                                        <div class="col-md-8" ng-show="View.LeaveTypeId==10"> @*for cgsd test 1*@
                                             <label class="form-control"> Sick Leave </label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                        <div class="col-md-8" ng-hide="View.LeaveTypeId==10">
                                            <label class="form-control"> Early Leave </label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <img src="/Request/StudentImgByStudnetIId?StudentIId={{View.StudentIID}}" alt="" style="width: 180px;max-width: 300px;height: 180px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="View.RequestType==1" >
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" readonly rows="10" cols="30">{{View.Reason}}</textarea>

                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="View.RequestType==5">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" readonly rows="10" cols="30">{{View.Description}}</textarea>

                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="View.RequestType==3">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" readonly rows="10" cols="30">{{View.Description}}</textarea>

                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
 </div>


@section Scripts{

    <script type="text/javascript">
        OEMSApp.controller("StdRequestApply", ["$scope", "$http", "SweetAlert", "blockUI", "$window", "$filter",
                     function ($scope, $http, SweetAlert, blockUI, $window, $filter) {
                         init();
                         function init() {
                             initialize();
                         }
                         function initialize() {
                             $scope.pageSizeArray = [];
                             $scope.pageSizeArray.push({ value: 5, text: 5 });
                             $scope.pageSizeArray.push({ value: 10, text: 10 });
                             $scope.pageSizeArray.push({ value: 20, text: 20 });
                             $scope.pageSizeArray.push({ value: 50, text: 50 });
                             $scope.currentPage = 1;
                             $scope.pageSize = 10;
                             $scope.Request = {};
                             $scope.RequestList = [];
                             $scope.CategoryList = [];
                             $scope.DesignationList = [];
                             var RequesType = [
                                               { Id: 1, RequestName: "For Meeting" },
                                               { Id: 2, RequestName: "For Tailor/TuckShop" },
                                                { Id: 3, RequestName: "For NOC" },
                                                   { Id: 4, RequestName: "For TC" }
                             ];
                             var NOCTypeList = [{ Id: 1, NOCName: "Travelling NOC" },
                                              { Id: 2, NOCName: "Not Travelling NOC" }
                             ]
                             $scope.RequestListType = RequesType;
                             $scope.NOCType = NOCTypeList;
                             GetAllRequestList();

                         };
                      
                         $scope.view = function view(n) {
                             $scope.View = n;
                         }
                         $scope.updateStatus = function updateStatus(Id, Status) {
                             $http({
                                 method: 'POST',
                                 url: baseUrl + 'Student/Request/UpdateStatus/' + Id + '/' + Status
                             }).then(function successCallback(response) {

                                 GetAllRequestList();
                                 // toastr["success"](response.data.message);
                             }, function errorCallback(response) {
                                 GetAllRequestList();
                                 // toastr["error"](response.data.message);
                             });
                         }

                         $scope.deleteRequest = function deleteRequest(Id) {

                             SweetAlert.swal({
                                 title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                                 confirmButtonText: "Yes, delete it!",
                                 closeOnConfirm: false
                             },
                         function (isConfirm) {
                             if (isConfirm) {

                                 $http({
                                     method: 'DELETE',
                                     url: baseUrl +'Student/DeleteRequest/' + Id
                                 }).then(function successCallback(response) {
                                     SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                     GetAllRequestList();
                                     toastr["success"](response.data.message);
                                 }, function errorCallback(response) {
                                     GetAllRequestList();
                                     toastr["error"](response.data.message);
                                 });

                             }
                         });
                         }
                         function GetAllRequestList() {
                             $http({
                                 method: 'GET',
                                 url: baseUrl + 'Student/Request/GetAllRequestList/'
                             }).then(function SuccessCallback(response) {
                                 $scope.RequestList = response.data.results;
                             })
                         }

                        

                     }]);
    </script>
}
