/* extra small device */
@media(max-width:575px){ 
	.addieLogin {
	margin-top: -86px;
}
.loginpageImage img {
	height: 254px;
	width: 100%;
	margin-left: 51px;
}
	.loginpageImage {
		position: absolute;
		top: 348px;
	}
		.title {
	font-size: 20px;
	text-align: center;
}
.login-div {
	height: 366px;
}
.logo {

	width: 86px;
	height: 46px;
}
.fields input {
	font-size: 16px;
	padding: 12px 5px 12px 5px;
}
.signin-button {
	height: 45px;
	font-size: 15px;
}
.fields {
	width: 100%;
	padding: 20px 5px 5px 5px;
}
.link a {
	font-size: 15px;
}
.link {
	padding-top: 10px;
}
}








/* small device */
@media(min-width:576px) and (max-width:767px){
    
.loginpageImage img {
	height: 254px;
	width: 100%;
	margin-left: 51px;
}

	.loginpageImage {
		position: absolute;
		top: 348px;
	}
		.title {
	font-size: 20px;
	text-align: center;
}

}


/* medium device */
@media(min-width:768px) and (max-width:991px){ 
.loginpageImage img {
	height: 254px;
	width: 100%;
	margin-left: 51px;
}

	.loginpageImage {
		position: absolute;
		top: 348px;
	}

 }


/* medium device */
@media(min-width:992px) and (max-width:1366px){ 

}









/* medium device */
@media(min-width:1367px) and (max-width:1800px){ 
	#login{
    padding: 55px 0;
	}
 }
