/****** Object:  StoredProcedure [dbo].[GetStudentInfoByInsId]    Script Date: 7/22/2017 4:18:12 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetStudentInfoByInsId]'))
BEGIN
DROP PROCEDURE  GetStudentInfoByInsId
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Biplob Hossen>
-- Create date: <05-04-2017>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetStudentInfoByInsId]
	@StudentInsID varchar(50)
AS
BEGIN
	SELECT        sb.StudentIID,
				  sb.StudentInsID,
				  sb.SessionId,
				  sb.RegiNo,
				  sb.FullName,
				  sb.NameBangla,
				  sb.Gender,
				  sb.BloodGroup,
				  sb.Age,
				  sb.IsPhysicalDrawback,
				  sb.PhyDrawbackDescription,
				  sb.TransportFacility,
				  sb.Height,
				  sb.Weight,
				  sb.AdmissionDate,
				  sb.StudentTypeID,
				  st.StudentTypeName,
				  sb.RegiNo,
				  sb.FatherName,
				  sb.MotherName,
				  sb.SMSNotificationNo,
				  sb.DateOfBirth,
				  sb.Nationality,
				  sb.Religion,
				  sb.AdmissionDate,
				  sb.CurrentResidenceType,
				  sb.RegularMedicineInstruction,
				  sb.Weight,
				  sb.Quota,
				  sb.[Status] ,
				  sb.PreInsInfoClass,
				  sb.PreInsInfoName,

				  sb.PreInsInfoSection,
				  sb.PreInsInfoGroup,
				  sb.PreInsInfoSession,
				  sb.PreInsInfoVersion,
				  
				  sb.PreInsInfoRollNo,
				  sb.PreInsInfoGPAResult,
				  sb.PreInsInfoTCNo,
				  sb.PreInsInfoDate,

				  I.Photo AS StudentPhoto,
				 
				  s.SessionName, 
				  b.BranchName, 
                  sh.ShiftName, 
				  c.ClassName, 
				 
				  sc.SectionName, 
				 CAST( sb.RollNo as int),
				  sb.StudentPositionInChildren,
				  sb.HouseID,
				  shs.HouseName,
				 
				( SCO.Pre_Address + ',' + SCO.Pre_PostOffice+ ',' + SCO.Pre_PostalCode+ ',' + prePS.PsName+ ',' + preDis.DistrictName) AS PresentAddress,
				(SCO.Par_Address + ',' + SCO.Par_PostOffice+ ',' + SCO.Par_PostalCode+ ',' + parPS.PsName+ ',' + parDis.DistrictName) AS PermanentAddress,
				0.00 AS TotalDue,
				'Due' AS paymentStatus,
				
				preClasss.ClassName as FirstAdmittedinClass,
					sb.FirstAdmittedDate,
				---Parent Info
				GI.*
				
			
				
FROM               
                 
                  dbo.Student_BasicInfo sb 
				   INNER JOIN
                  dbo.Ins_Session s ON sb.SessionId = s.SessionId INNER JOIN
                  dbo.Ins_Branch b ON sb.BranchID = b.BranchId INNER JOIN
                  dbo.Ins_Shift sh ON sb.ShiftID = sh.ShiftId INNER JOIN
                  dbo.Ins_ClassInfo c ON sb.ClassId = c.ClassId INNER JOIN
                 
				  dbo.Ins_Section sc ON sc.SectionId = sb.SectionId LEFT JOIN
				  dbo.Ins_StudentType st ON st.StudentTypeId = sb.StudentTypeId LEFT JOIN
				  dbo.Ins_House shs ON shs.HouseId = sb.HouseId LEFT JOIN
				    dbo.Student_GuardianInfo GI ON GI.StudentIID = sb.StudentIID  LEFT JOIN
				  dbo.Student_Image I ON I.StudentIID = sb.StudentIID 
				  LEFT OUTER JOIN dbo.Student_ContactInfo SCO ON SCO.StudentIID = SB.StudentIID
				 	 left outer join dbo.Common_District preDis ON preDis.DistrictId =  SCO.Pre_DisId
				left outer join dbo.Common_District parDis ON parDis.DistrictId = SCO.Par_DisId
				left outer join dbo.Common_PoliceStation parPS ON parPS.PsId = SCO.Par_PSId
				left outer join dbo.Common_PoliceStation prePS ON prePS.PsId = SCO.Pre_PSId
				  	  LEFT OUTER JOIN dbo.Ins_ClassInfo preClasss   ON preClasss.ClassId = sb.ClassId

	 where sb.StudentInsID=@StudentInsID and sb.IsDeleted='false'
END
