@{
    ViewBag.Title = "ExamMarksetup";
    Layout = "~/Views/Shared/_EmpLayout.cshtml";
}
@using System;
@using System.Data;
@using System.Dynamic;

<style type="text/css">
    /*Here we will add css for style webgrid*/
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 14PX;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid #98BF21;
            padding: 1px 1px 1px;
        }

    .webgrid-header {
        background-color: #A7C942;
        color: #FFFFFF;
        padding-bottom: 1px;
        padding-top: 1px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 1px 1px 1px;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
        padding: 1px 1px 1px;
    }
</style>
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-e5v8 {
            border-color: #ffccc9;
            vertical-align: top;
        }

        .tg .tg-pesd {
            border-color: #c0c0c0;
            vertical-align: top;
        }

    .disabled {
        pointer-events: none !important;
        cursor: default !important;
        opacity: 0.6 !important;
    }
</style>

<div class="card">
    <div class="emp-header">
       Mark Set Up Subject List
    </div>

    <div>
        <div>
            @ViewBag.EncodedHtml
        </div>
    </div>
    </div>
