
@{
    ViewBag.Title = "Generate Payslip";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" ng-controller="GeneratePayrolCtrl">
    <div class="row">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Generate Payslip
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="addBasic" novalidate>
                    <div class="form-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group row" @*ng-class="{ 'has-error' : submitted && addBasic.Branch.$invalid}"*@>
                                    <label class="col-md-5 control-label" style="text-align:right">
                                        Branch
                                        @*<span class="required">*</span>*@
                                    </label>
                                    <div class="col-md-7">
                                        <select class="form-control" ng-model="GeneratePayrol.BranchID" name="Branch" ng-options="b.BranchId as b.BranchName for b in CommonFeilds.Branch">
                                            <option value="" selected="selected">Choose Option</option>
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row" @*ng-class="{ 'has-error' : submitted && addBasic.Class.$invalid}"*@>
                                    <label class="col-md-5 control-label" style="text-align:right">
                                        Category
                                        @*<span class="required">*</span>*@
                                    </label>
                                    <div class="col-md-7">
                                        <select class="form-control" ng-model="GeneratePayrol.CategoryID" name="Class" ng-options="c.CategoryID as c.CategoryName for c in CommonFeilds.Category">
                                            <option value="" selected="selected">Choose Option</option>
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group row" ng-class="{ 'has-error' : submitted && addBasic.SalaryYearId.$invalid}">
                                    <label class="col-md-5 control-label" style="text-align:right">
                                        Salary Year :
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-7">
                                        <select class="form-control" ng-model="GeneratePayrol.SalaryYearId" name="SalaryYearId" required ng-options="sp.Id as sp.YearName  for sp in SalaryYearList">
                                            <option value="" selected="selected">Choose Options</option>
                                        </select>
                                        <span ng-show="submitted &&  addBasic.SalaryYearId.$error.required" class="help-block">Salary Year Required</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group row" ng-class="{ 'has-error' : submitted && addBasic.PeriodId.$invalid}">
                                    <label class="col-md-5 control-label" style="text-align:right">
                                        Salary Period :
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-7">
                                        <select class="form-control" ng-model="GeneratePayrol.PeriodId" name="PeriodId" required ng-options="sp.Id as sp.PeriodName  for sp in salaryPeriodList">
                                            <option value="" selected="selected">Choose Options</option>
                                        </select>
                                        <span ng-show="submitted &&  addBasic.PeriodId.$error.required" class="help-block">Salary Period Required</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <div class="pull-right">
                                    <button ng-click="submitted=true;Search()" class="btn btn-success">Show</button>
                                    <button ng-click="Reset()" class="btn btn-danger">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered table-hover rounded">
                    <thead class="btn-primary">
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAll" ng-click="selectAll()" />  All</th>
                            <th> ID </th>
                            <th> Name </th>
                            <th>Mobile No </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in EmployeeInfos">
                            <td width="5%"> <input type="checkbox" ng-model="item.Selected" value="false" ng-click="checkIfAllSelected()" /> </td>
                            <td> {{item.EmpID}} </td>
                            <td> {{item.FullName}} </td>
                            <td width="25%"> {{item.SMSNotificationNo}} </td>
                            <td width="10%">
                                <a href="@Url.Action("ReportGeneratePayrol","Report")?SalaryPeriodId={{GeneratePayrol.PeriodId}}&EmpId={{item.EmpBasicInfoID}}" class="btn btn-icon-only btn-primary" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr ng-show="EmployeeInfos.length>0">
                            <td colspan="6">
                                <a href="@Url.Action("ReportGeneratePayrol","Report")?SalaryPeriodId={{GeneratePayrol.PeriodId}}&EmpId={{GetSelects()}}" class="btn btn-info btn-sm pull-right" target="_blank">View All PaySlip</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group row">

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row pull-right">
                            <button ng-click="Print()" class="btn btn-success" ng-hide="InvoiceGeneratelist.length <= 0">Print Invoice</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        OEMSApp.controller("GeneratePayrolCtrl", ["$scope", "$http", "SweetAlert",
          function ($scope, $http, SweetAlert) {

              init();
              function init() {
                  initialize();


                  //getAllEmployeeList();
                  getAllCommons();
                  getAllSalaryPeriod();
                  getAllSalaryYear();
              }
              function initialize() {
                  $scope.GeneratePayrol = {};

                  $scope.StudentInfos = [];
                  $scope.GrandExams = [];
                  $scope.Dropdowns = [];
                  $scope.CommonFeilds = [];
                  $scope.currentPage = 1;
                  $scope.pageno = 1;
                  $scope.pagesize = 10;
                  $scope.total_count = 12;
                  $scope.txtsearch = '';

              };


              function resetForm() {
                  $scope.submitted = false;
              };

              $scope.Reset = function Reset() {
                  $scope.GeneratePayrol = {};
                  $scope.submitted = false;
                  $scope.EmployeeInfos = [];
              };

              function getAllSalaryYear() {
                  $scope.SalaryYearList = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Employee/GetAllSalaryYear/'
                  }).then(function successCallback(response) {
                      $scope.SalaryYearList = response.data.results;
                  }, function errorCallback(response) {
                      toastr["info"](response.data.Message);
                  });
              }
              function getAllEmployeeList() {
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Employee/GetAllEmployeeList/'
                  }).then(function successCallback(response) {
                      $scope.employeelist = response.data.results;
                  }, function errorCallback(response) {
                      toastr["info"](response.data.Message);
                  });
              }


              $scope.selectAll = function () {
                  angular.forEach($scope.EmployeeInfos, function (item) {
                      item.Selected = $scope.selectedAll;
                  });
              };
              $scope.GetSelects = function GetSelects() {
                  var res = '';
                  angular.forEach($scope.EmployeeInfos, function (item) {
                      if (item.Selected) {
                          res = res + ',' + item.EmpBasicInfoID
                      }
                  });
                  return res.trim()
              };
              $scope.checkIfAllSelected = function () {
                  $scope.selectedAll = $scope.EmployeeInfos.every(function (item) {
                      return item.Selected == true
                  })
              };
              $scope.Search = function Search() {
                  //debugger;
                  if ($scope.addBasic.$invalid)
                      return;
                  $scope.EmployeeInfos = [];
                  $http({
                      method: 'POST',
                      url: baseUrl + 'Employee/SearchGeneratePayrol/',
                      data: $scope.GeneratePayrol
                  }).then(function successCallback(response) {
                      $scope.EmployeeInfos = response.data.results;
                      $scope.selectedAll = true;
                      angular.forEach($scope.EmployeeInfos, function (item) {
                          item.Selected = $scope.selectedAll;
                      });

                      toastr["success"](response.data.message);
                  }, function errorCallback(response) {
                      toastr["error"](response.data.Message);
                  });
              };
              function getAllCommons() {
                  $scope.CommonFeilds = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Common/GetCommonItemEmp/'
                  }).then(function successCallback(response) {
                      $scope.CommonFeilds = response.data.results;
                      console.log($scope.CommonFeilds);
                  }, function errorCallback(response) {
                  });
              }
              function getAllSalaryPeriod() {
                  $scope.salaryHeadList = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Employee/GetAllSalaryPeriod/'
                  }).then(function successCallback(response) {
                      $scope.salaryPeriodList = response.data.results;

                  }, function errorCallback(response) {
                      toastr["info"](response.data.Message);
                  });
              }
          }]);
    </script>
}




