
@{
    ViewBag.Title = "All Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Approved {
        background: rgba(0, 156, 184, 0.521);
        color: #009DB8;
        padding: 8px 16px;
        border-radius: 27px !important;
        color: white;
    }

    .Pending {
        background: rgba(252, 122, 82, 0.5);
        color: #FC7B52;
        padding: 8px 16px;
        border-radius: 27px !important;
        color: white;
    }

    .Rejected {
        background: #dc3545;
        color: white;
        padding: 8px 16px;
        border-radius: 27px !important;
        color: white;
    }
</style>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" ng-controller="AllEmployeeRequest">
    <div class="row">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                    </span>
                    <h3 class="kt-portlet__head-title">
                        <!----Titel Text-->
                        All Request
                        <!----Titel Text -->
                    </h3>
                </div>
            </div>

            <div class="kt-portlet__body" ng-show="RequestList.length>0">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                <select class="form-control kt-font-brand" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-1">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-5">
                        <div id="sample_3_filter" class="pull-right">
                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover rounded">
                    <thead class="text-center" style="color:white;">
                        <tr class="bg-primary">
                            <th>Request Type</th>
                            <th>Requested By</th>
                            <th>Date of Submission</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody style="overflow:scroll" class="text-center">
                        <tr ng-show="RequestList.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                        <tr dir-paginate="item in RequestList| filter:q  | itemsPerPage: pageSize " current-page="currentPage" ng-style="{'background-color':$even?evenColor:oddColor}">
                            <td>{{item.RequestTypeName}}</td>
                            <td>{{item.RequestedBy}}</td>
                            <td>{{item.AddDate | date:"dd/MM/yyyy"}}</td>
                            <td ng-if="item.Status=='Pending'" class="text-center"><span class="Pending">{{item.Status}}</span></td>
                            <td ng-if="item.Status=='Approved'" class="text-center"><span class="Approved">{{item.Status}}</span></td>
                            <td ng-if="item.Status=='Rejected'" class="text-center"><span class="Rejected">{{item.Status}}</span></td>
                            <td>
                                <div class="btn-group ">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" ng-disabled="item.Status=='Rejected' || item.Remarks=='Pending'" data-toggle="dropdown" aria-expanded="false">
                                        Options
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="left: -10%;">
                                        <li>
                                            <a href="javascript:;" class="btn btn-success" ng-show="item.Status=='Pending'" ng-click="updateStatus(item.Id,Status='Approved')">
                                                Approve
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="btn btn-danger" ng-hide="item.Status=='Rejected'" ng-click="updateStatus(item.Id,Status='Rejected')">
                                                Reject
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        OEMSApp.controller("AllEmployeeRequest", ["$scope", "$http", "SweetAlert", "blockUI", "$window", "$filter",
                     function ($scope, $http, SweetAlert, blockUI, $window, $filter) {
                         init();
                         function init() {
                             initialize();
                         }
                         function initialize() {
                             $scope.pageSizeArray = [];
                             $scope.pageSizeArray.push({ value: 5, text: 5 });
                             $scope.pageSizeArray.push({ value: 10, text: 10 });
                             $scope.pageSizeArray.push({ value: 20, text: 20 });
                             $scope.pageSizeArray.push({ value: 50, text: 50 });
                             $scope.currentPage = 1;
                             $scope.pageSize = 10;
                             $scope.Request = {};
                             $scope.RequestList = [];
                             $scope.CategoryList = [];
                             $scope.DesignationList = [];
                             var RequesType = [
                                               { Id: 1, RequestName: "For Meeting" },
                                               //{ Id: 2, RequestName: "For Tailor/TuckShop" },
                                                { Id: 3, RequestName: "For NOC" },
                                                   { Id: 4, RequestName: "For Experience Letter" },
                                                   { Id: 5, RequestName: "For Leave" },
                             { Id: 6, RequestName: "For Release Letter" }
                             ];
                             var NOCTypeList = [{ Id: 1, NOCName: "Travelling NOC" },
                                              { Id: 2, NOCName: "Not Travelling NOC" }
                             ]
                             $scope.RequestListType = RequesType;
                             $scope.NOCType = NOCTypeList;
                             GetAllRequestList();

                         };

                         $scope.updateStatus = function updateStatus(Id, Status) {
                             $http({
                                 method: 'POST',
                                 url: baseUrl + 'Employee/UpdateStatus/' + Id + '/' + Status
                             }).then(function successCallback(response) {
                                 GetAllRequestList();
                                 // toastr["success"](response.data.message);
                             }, function errorCallback(response) {
                                 GetAllRequestList();
                                 // toastr["error"](response.data.message);
                             });
                         }

                         //$scope.deleteRequest = function deleteRequest(Id) {

                         //    SweetAlert.swal({
                         //        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                         //        confirmButtonText: "Yes, delete it!",
                         //        closeOnConfirm: false
                         //    },
                         //function (isConfirm) {
                         //    if (isConfirm) {

                         //        $http({
                         //            method: 'DELETE',
                         //            url: baseUrl +'Student/DeleteRequest/' + Id
                         //        }).then(function successCallback(response) {
                         //            SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                         //            GetAllRequestList();
                         //            toastr["success"](response.data.message);
                         //        }, function errorCallback(response) {
                         //            GetAllRequestList();
                         //            toastr["error"](response.data.message);
                         //        });

                         //    }
                         //});
                         //}

                         function GetAllRequestList() {
                             $http({
                                 method: 'GET',
                                 url: baseUrl + 'Employee/AllEmployeeRequest/'
                             }).then(function SuccessCallback(response) {
                                 $scope.RequestList = response.data.results;
                             })
                         }



                     }]);
    </script>
}

