
@{
    ViewBag.Title = "Leave Setup";
}

<div ng-controller="CtrlStatus">
    <!-- Begin: life time stats -->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject font-green sbold uppercase">@ViewBag.Title</span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-solid">
                    <button ng-click="resetForm()" class="btn green" data-target="#addmodal" data-toggle="modal"> <i class="fa fa-plus"></i> Add Leave</button>
                </div>

            </div>
        </div>
        <div class="portlet-body">
            <div class="table-container">
                <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                    <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                </div>
                                <div class="col-md-7  col-sm-8  col-xs-4">
                                    @*<label for="search" class="control-label" style="padding-top:5px">Items</label>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-1">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-5">
                            <div id="sample_3_filter" class="pull-right">
                                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                            </div>
                        </div>
                    </div>

                    <div class="table-scrollable" col-md-5> </div>
                    <table class="table table-bordered table-hover table-striped" align="center">
                        <thead>
                            <tr class="btn-primary">
                                <th width="10%">Type Name</th>
                                <th width="10%">Code</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-show="Leaves.results.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                            <tr dir-paginate="item in Leaves.results| filter:q  | itemsPerPage: pageSize " current-page="currentPage">

                                <td>{{item.TypeName}}</td>
                                <td>{{item.Code}}</td>
                                <td>
                                    <a href="javascript:;" class="btn btn-icon-only green" ng-click="edit(item)" data-target="#addmodal" data-toggle="modal">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="deleteStatus(item)" href="javascript:;" class="btn btn-icon-only red">
                                        <i class="fa fa-trash"></i>
                                    </a>

                                </td>

                            </tr>
                        </tbody>

                    </table>


                    <div class="row">
                        <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End: life time stats -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.TypeName.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Type Name :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Leave.TypeName" class="form-control" placeholder="Status Name" name="TypeName" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.TypeName.$error.required" class="help-block">Leave Type Name Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Code.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Type :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Leave.Code" class="form-control" placeholder="Code" name="Code" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.Code.$error.required" class="help-block">Leave Code Required</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
@section Scripts{

    <script type="text/javascript">

        OEMSApp.controller("CtrlStatus", ["$scope", "$http", "SweetAlert",
              function ($scope, $http, SweetAlert) {

                  init();
                  function init() {
                      initialize();
                      getLeave(1);

                  }
                  function initialize() {
                      $scope.modalTitle = "Add Leave";
                      $scope.Leave = {};
                      //$scope.status.StatusID = 0;
                      $scope.currentPage = 1;
                      $scope.pageno = 1;
                      $scope.pagesize = 10;
                      $scope.total_count = 12;
                      $scope.search = '';

                      $scope.Leaves = [];

                      $scope.getLeave = getLeave;
                      $scope.res = {};
                      $scope.data = {};
                      $scope.resetForm = resetForm;

                      $scope.btnDis = false;
                      $scope.spin = false;
                      $scope.pageSizeArray = [];
                      $scope.pageSizeArray.push({ value: 5, text: 5 });
                      $scope.pageSizeArray.push({ value: 10, text: 10 });
                      $scope.pageSizeArray.push({ value: 20, text: 20 });
                      $scope.pageSizeArray.push({ value: 50, text: 50 });
                      $scope.currentPage = 1;
                      $scope.pageSize = 10;
                  }
                  function setProgress(s) {
                      $scope.btnDis = s;
                      $scope.spin = s;
                  }
                  function resetForm() {
                      $scope.modalTitle = "Add Leave";
                      $scope.Leave = {};
                      $scope.addform.$setUntouched();
                      $scope.addform.$setPristine();
                      $scope.submitted = false;
                      $scope.Id = '';
                      setProgress(false);
                  }

                  function getLeave() {
                      $scope.Leaves = [];

                      $http({
                          method: 'GET',
                          url: baseUrl + '/Employee/GetAllEmpLeaveType/'
                      }).then(function successCallback(response) {
                          $scope.Leaves = response.data;
                          $scope.total_count = response.data.totalcount;
                          if ($scope.pagesize == -1)
                              $scope.pagesize = 500;

                      }, function errorCallback(response) {
                          toastr["info"](response.data.message);
                      });
                  }


                  $scope.edit = function (n) {
                      $scope.modalTitle = "Update Leave";
                      $scope.Leave = n;
                      $scope.Id = n.EmpLeaveTypeId;
                  };

                  $scope.save = function save(e) {
                      if ($scope.addform.$invalid)
                          return;
                      setProgress(true);
                      if ($scope.Leave != '') {
                          $http({
                              method: 'POST',
                              url: baseUrl + '/Employee/AddEmpLeaveType/',
                              data: $scope.Leave
                          }).then(function successCallback(response) {

                              $('#addmodal').modal('toggle');
                              getLeave();
                              toastr["info"](response.data.message);
                              resetForm();
                          }, function errorCallback(response) {
                              toastr["info"](response.data.message);
                          });
                      }

                  };

                  $scope.deleteStatus = function deleteStatus(n) {

                      // SweetAlert.swal("Good job!", "You clicked the button!", "success");
                      SweetAlert.swal({
                          title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                          confirmButtonText: "Yes, delete it!",
                          closeOnConfirm: false
                      },
                      function (isConfirm) {

                          if (isConfirm) {
                              $http({
                                  method: 'POST',
                                  url: baseUrl + '/Employee/DeleteEmpLeaveType/',
                                  data: n

                              }).then(function successCallback(response) {
                                  SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                  getLeave(1);
                              }, function errorCallback(response) {
                                  toastr["info"](response.data.message);
                              });

                          }
                      });


                  };

              }]);

    </script>

}

