@{
    ViewBag.Title = "My Profile";
}
<style type="text/css">
    /*Profile pic style*/
    .preview {
        padding: 10px;
        position: relative;
    }

        .preview i {
            color: white;
            font-size: 25px;
            transform: translate(20px,75px);
        }

    .preview-img {
        border-radius: 100%;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
        width: 100px;
        height: 100px;
    }

    .browse-button {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute; /* Tweak the position property if the element seems to be unfit */
        top: 10px;
        left: 37px;
        background: linear-gradient(180deg, transparent, black);
        opacity: 0;
        transition: 0.3s ease;
    }

        .browse-button:hover {
            opacity: 1;
        }

    .browse-input {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        transform: translate(-1px,-26px);
        opacity: 0;
        cursor: pointer;
    }
    .nameText {
        margin-bottom: 20px;
    }
    .nameText p {
        margin-bottom: 0px;
    }

    /*End profile pic*/

    .tabs-left > .nav-tabs {
        border-bottom: 0;
    }

    div#MyAccountsTab {
        width: 100%;
        overflow: hidden;
    }

    .tab-content > .tab-pane {
        display: none;
    }

    .tab-content > .active {
        display: block;
    }

    .tabs-left > .nav-tabs > li {
        float: none;
    }

        .tabs-left > .nav-tabs > li > a,
        .tabs-left > .nav-tabs > li > div {
            margin-right: 0;
            margin-bottom: 3px;
        }

    .tabs-left > .nav-tabs {
        float: right;
        margin-right: 19px;
        border-right: 1px solid #ddd;
    }

        .tabs-left > .nav-tabs > li > a,
        .tabs-left > .nav-tabs > li > div {
            margin-right: -1px;
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

        .tabs-left > .nav-tabs > li > div {
            background-color: #F2F6F9;
        }

            .tabs-left > .nav-tabs > li > a:hover,
            .tabs-left > .nav-tabs > li > a:focus,
            .tabs-left > .nav-tabs > li > div:hover,
            .tabs-left > .nav-tabs > li > div:focus {
                border-color: #eeeeee #dddddd #eeeeee #eeeeee;
                background-color: #eeeeee;
            }

        .tabs-left > .nav-tabs .active > a,
        .tabs-left > .nav-tabs .active > a:hover,
        .tabs-left > .nav-tabs .active > a:focus,
        .tabs-left > .nav-tabs .active > div,
        .tabs-left > .nav-tabs .active > div:hover,
        .tabs-left > .nav-tabs .active > div:focus {
            border-color: #ddd transparent #ddd #ddd;
            *border-right-color: #ffffff;
        }
    /** Let tabls-left class be available in bootstrap 3.3.7 - F **/

    .account-type {
        font-family: 'Roboto', sans-serif;
        color: #A0AEB6;
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
    }

    .account-amount {
        font-family: 'Roboto', sans-serif;
        color: #A0AEB6;
        font-size: 14px;
        line-height: 16px;
    }

    /* TABS */
    .tabs-left > .nav-tabs {
        margin-right: 0px;
        padding: 0;
        height: 700px; /* Debe ser el mismo height que el que tenga .tab-content */
    }

    /* CONTENIDO DE LOS TABS */
    .tab-content {
        background-color: #FFFFFF;
        border: solid 1px #DCE1E5;
        border-left-style: none;
        border-top-style: none;
        border-bottom-style: none;
        min-height: 700px;
        padding-left: 50px;
        border-radius: 0px 4px 4px 4px;
        -moz-border-radius: 0px 4px 4px 4px;
        -webkit-border-radius: 0px 4px 4px 4px;
        -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
        box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
        overflow: hidden;
    }

        .tab-content > div {
            margin-top: 26px;
        }

    /* Formato del tab activo */
    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus,
    .tabs-left > .nav-tabs .active div,
    .tabs-left > .nav-tabs .active div:hover,
    .tabs-left > .nav-tabs .active div:focus {
        background-color: #FFFFFF;
        border-bottom-style: none;
        border-left-style: none;
        /*border-bottom: 1px solid #DCE1E5;*/
        /*border-left: 1px solid #DCE1E5;*/
        border-bottom-left-radius: 0px;
        border-right-style: none;
        margin-right: -1px;
        -webkit-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
        -moz-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
        box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    }

    /* Formato de los tabs en general */
    .tabs-left > .nav-tabs > li:nth-child(1) > a,
    .tabs-left > .nav-tabs > li:nth-child(1) > a:hover,
    .tabs-left > .nav-tabs > li:nth-child(1) > a:focus,
    .tabs-left > .nav-tabs > li:nth-child(1) > div,
    .tabs-left > .nav-tabs > li:nth-child(1) > div:hover,
    .tabs-left > .nav-tabs > li:nth-child(1) > div:focus {
        cursor: pointer;
        border-top-left-radius: 4px;
        width: 100%;
    }

    .tabs-left > .nav-tabs > li.active:nth-child(1) > a,
    .tabs-left > .nav-tabs > li.active:nth-child(1) > a:hover,
    .tabs-left > .nav-tabs > li.active:nth-child(1) > a:focus,
    .tabs-left > .nav-tabs > li.active:nth-child(1) > div,
    .tabs-left > .nav-tabs > li.active:nth-child(1) > div:hover,
    .tabs-left > .nav-tabs > li.active:nth-child(1) > div:focus {
        border-top-left-radius: 4px;
        border-bottom-style: none;
        border-left: 1px solid #DCE1E5;
    }

    .tabs-left > .nav-tabs > li > a,
    .tabs-left > .nav-tabs > li > div {
        display: table;
        /*border: solid 1px transparent;*/
        margin-right: -1px;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 50px;
        border: solid 1px #DCE1E5;
        border-radius: 0px;
        width: 100%;
        cursor: pointer;
    }

    /* Style of the div element acting as tab content */
    .tabbable.tabs-left > .nav-tabs > li > div > div {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 12px 0px 12px;
        min-width: 105px;
        max-width: 105px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>

<div ng-controller="MyProfile">
    <!-- Begin: life time stats -->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-user font-green"></i>
                <span class="caption-subject font-green sbold uppercase">@ViewBag.Title</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="row">
                <div id="MyAccountsTab" class="tabbable tabs-left">
                    <ul class="nav nav-tabs col-md-2">
                        <div class="profileImage">
                            <div class="preview text-center">
                                <img class="preview-img" data-ng-src="@String.Format("data:image/jpg;base64,{0}", "{{EmployeeInfo.EmpBasicInfo.Image}}")" alt="Preview Image" width="200" height="200" />
                                <div class="browse-button">
                                    <i class="fa fa-pencil"></i>
                                    <input class="browse-input" onchange="readURL(this)" type="file" required name="UploadedFile" id="UploadedFile" />
                                </div>

                            </div>
                            <div class="nameText text-center">
                                <p class="sbold font-green">{{EmployeeInfo.EmpBasicInfo.FullName}}</p>
                                <p>{{EmployeeInfo.EmpBasicInfo.EmpID}}</p>
                                <p>{{EmployeeInfo.EmpBasicInfo.DesignationName}}</p>
                            </div>
                        </div>
                        <li class="active">
                            <div data-target="#lA" data-toggle="tab">
                                <div>
                                    <span class="account-type">Basic Info</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div data-target="#lB" data-toggle="tab">
                                <div>
                                    <span class="account-type">Contact Info</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div data-target="#lC" data-toggle="tab">
                                <div>
                                    <span class="account-type">Education</span><br />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div data-target="#lD" data-toggle="tab">
                                <div>
                                    <span class="account-type">Payroll Info</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div data-target="#JobHistory" data-toggle="tab">
                                <div>
                                    <span class="account-type">Job History</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div data-target="#Training" data-toggle="tab">
                                <div>
                                    <span class="account-type">Training</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div data-target="#Atten" data-toggle="tab">
                                <div>
                                    <span class="account-type">Attendence</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div data-target="#Nominee" data-toggle="tab">
                                <div>
                                    <span class="account-type">Nominee</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="tab-content col-md-10">
                        <div class="tab-pane active" id="lA">
                            <div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row" style="margin-right:5px">
                                        <div class="m-grid-col-md-12 m-grid-col-sm-12">
                                            <div style="background-color:#1ddbdb" class="success form-control">Institute Information</div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td class="success" width="20%"> Version </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.VersionName}}  </td>
                                                            <td class="warning" width="20%"> Branch </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.BranchName}}  </td>
                                                            <td class="danger" width="20%"> Shift </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.ShiftName}} </td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="success" width="20%"> Section </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.SectionName}}  </td>
                                                            <td class="warning" width="20%"> Status </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.StatusName}}  </td>
                                                            <td class="danger" width="20%"> Subject</td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.SubjectName}}  </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="success" width="20%"> Department </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.DepartmentName}}  </td>
                                                            <td class="warning" width="20%"> Designation </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.DesignationName}} </td>
                                                            <td class="danger" width="20%"> Category </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.CategoryName}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0">
                                            <div style="background-color:#1ddbdb" class="success form-control">Employee Information</div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">

                                                <table class="table table-hover">

                                                    <tr class="">
                                                        <th> Name</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.FullName}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Gender</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.Gender}}  </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th>Blood Group</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.BloodGroup}} </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Date Of Birth</th>
                                                        <td> {{EmployeeInfo.EmpBasicInfo.DateOfBirth}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th>Father's Name </th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.FatherName}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Mother's Name </th>
                                                        <td> {{EmployeeInfo.EmpBasicInfo.MotherName}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Merital Status</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.MaritalStatus}}  </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Nationality</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.Nationality}}  </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6">

                                                <table class="table table-hover">
                                                    <tr class="">
                                                        <th> Joining Date</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.JoiningDate | date:'dd/MM/yyyy'}} </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Probation End Date</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.ProbationPeriodEndDate | date:'dd/MM/yyyy'}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Confirmation Date</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.ConfirmationDate | date:'dd/MM/yyyy'}}  </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th>Religion</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.Religion}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> National ID</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.NationalID}} </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Passport No</th>
                                                        <td> {{EmployeeInfo.EmpBasicInfo.PassportNo}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Index No</th>
                                                        <td> {{EmployeeInfo.EmpBasicInfo.MPOIndexNo}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--End first tab-->
                        <div class="tab-pane" id="lB">
                            <div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row" style="margin-right:5px">
                                        <div class="m-grid-col-md-12 m-grid-col-sm-12">
                                            <div style="background-color:#1ddbdb" class="success form-control">Contact Information</div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td class="success" width="25%"> SMS Notification No </td>
                                                            <td class="" width="25%">{{EmployeeInfo.EmpBasicInfo.SMSNotificationNo}}  </td>
                                                            <td class="warning" width="20%"> Office Phone No </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.OfficePhoneNo}}  </td>

                                                        </tr>
                                                        <tr>
                                                            <td class="success" width="25%"> Emergency Contact No </td>
                                                            <td width="25%">{{EmployeeInfo.EmpBasicInfo.EmergencyContactNo}}</td>
                                                            <td class="warning" width="20%"> Home Phone No </td>
                                                            <td class="">{{EmployeeInfo.EmpBasicInfo.HomePhoneNo}}  </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="success" width="25%"> Email </td>
                                                            <td colspan="3">{{EmployeeInfo.EmpBasicInfo.Email}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0">
                                            <div class="col-md-6 col-sm-6 col-xs-6">

                                                <table class="table table-hover">
                                                    <div style="background-color:#1ddbdb;margin-top:10px" class="success form-control">Present Address</div>
                                                 <tr class="">
                                                        <th> House/Road</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.PresentAddress}} </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th>Post Office</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.PresentPost}} </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Thana</th>
                                                        <td> {{EmployeeInfo.EmpBasicInfo.PresentThana}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th>District </th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.PresentDistrict}}</td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <table class="table table-hover">
                                                    <div style="background-color:#1ddbdb;margin-top:10px" class="success form-control">Permanent Address</div>
                                                    <tr class="">
                                                        <th> House/Road</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.PermanentAddress}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th>Post Office</th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.PermanentPost}} </td>
                                                    </tr>
                                                    <tr class="">
                                                        <th> Thana</th>
                                                        <td> {{EmployeeInfo.EmpBasicInfo.PermanentThana}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th>District </th>
                                                        <td>{{EmployeeInfo.EmpBasicInfo.PermanentDistrict}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--End 2nd tab-->
                        <div class="tab-pane" id="lC">
                            
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row" style="margin-right:5px">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0">
                                           <table class="table table-hover">
                                                    <div style="background-color:#1ddbdb;margin-top:10px" class="success form-control">Education Information</div>
                                                  <thead>
                                                      <tr>
                                                          <td>Institution Name</td>
                                                          <td>Group</td>
                                                          <td>Board</td>
                                                          <td>Pass Year</td>
                                                          <td>Exam Total</td>
                                                          
                                                      </tr>
                                                  </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in EmployeeInfo.EmployeeEducationalInfo">
                                                            <td>{{item.ExamInstituteName}}</td>
                                                            <td>{{item.ExamGroupID}}</td>
                                                            <td>{{item.ExamBoard}}</td>
                                                            <td>{{item.ExamPasYear}}</td>
                                                            <td>{{item.ExamTotal}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                           </div>
                                    </div>
                                </div>
                            
                        </div>  <!--End 3rd tab-->
                        <div class="tab-pane" id="lD">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row" style="margin-right:5px">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0">
                                        <table class="table table-hover">
                                            <div style="background-color:#1ddbdb;margin-top:10px" class="success form-control">Education Information</div>
                                            <thead>
                                                <tr>
                                                    <td>Institution Name</td>
                                                    <td>Group</td>
                                                    <td>Board</td>
                                                    <td>Pass Year</td>
                                                    <td>Exam Total</td>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in EmployeeInfo.EmployeeEducationalInfo">
                                                    <td>{{item.ExamInstituteName}}</td>
                                                    <td>{{item.ExamGroupID}}</td>
                                                    <td>{{item.ExamBoard}}</td>
                                                    <td>{{item.ExamPasYear}}</td>
                                                    <td>{{item.ExamTotal}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="JobHistory">
                            <div>
                                <p>Job History</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="Training">
                            <div>
                                <p>Training</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="Atten">
                            <div>
                                <p>Attendence</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="Nominee">
                            <div>
                                <p>Nominee</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- End: life time stats -->

</div>

@section Scripts{

<script type="text/javascript">

    OEMSApp.controller("MyProfile", ["$scope", "$http", "SweetAlert", "$window",
          function ($scope, $http, SweetAlert, $window) {

              init();
              function init() {
                  initialize();
                  getEmpInfoData();
              }
              function initialize() {
                  $scope.res = {};
                  $scope.data = {};
                  $scope.EmployeeInfo = {};

                  $scope.EmployeeInfo.EmpBasicInfo = [];
                  $scope.EmployeeInfo.EmployeeEducationalInfo = [];
                  $scope.resetForm = resetForm;
              }


              function resetForm() {
                  $scope.submitted = false;
              }

              function getEmpInfoData() {
                  $scope.Dropdowns = [];

                  $http({
                      method: 'GET',
                      url: baseUrl + 'Employee/GetEmployeeInfo/'
                  }).then(function successCallback(response) {
                      $scope.EmployeeInfo = response.data.results;
                      console.log(response.data.results);
                      console.log($scope.EmployeeInfo.EmpBasicInfo);
                      console.log($scope.EmployeeInfo.EmployeeEducationalInfo)
                  }, function errorCallback(response) {
                      toastr["info"](response.data.message);
                  });
              }


          }]);
</script>
<script>

    $('.browse-button').bind("click", function () {
        $('#UploadedFile').click();
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.preview-img')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

}