@{
    ViewBag.Title = "Employee Profile";
    Layout = "~/Views/Shared/_EmpLayout.cshtml";
}
@{
    ViewBag.Title = "Parents Meeting";
}
<style>
    .Approved {
        background: rgba(0, 156, 184, 0.521);
        color: #009DB8;
        padding: 8px 16px;
        border-radius: 27px;
    }

    .pending {
        background: rgba(252, 122, 82, 0.5);
        color: #FC7B52;
        padding: 8px 16px;
        border-radius: 27px;
    }

    .Rejected {
        background: #dc3545;
        color: white;
        padding: 8px 16px;
        border-radius: 27px;
    }
</style>
<div class="row mt-3" ng-controller="parrentmeetCltr">
    <div class="col-lg-12">
        <div class="card">
            <div class="emp-header">
                Parents Meeting
            </div>
            <div class="card-body">
                 <div class="portlet-body">
                    <div class="table-container">
                        <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                            <div class="row">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-group row">
                                        <div class="col-md-2 col-sm-5  col-xs-4">
                                            <label for="search" class="control-label" style="padding-top: 5px;">Items</label>
                                        </div>
                                        <div class="col-lg-4 col-md-8 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-3 col-xs-1">
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-5">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable"> </div>
                            <table class="table table-bordered table-inverse">
                                <thead class="btnColor">
                                    <tr>
                                        <th>Meeting Date</th>
                                        <th class="text-center">Meet Time</th>
                                        <th class="text-center">Meet With</th>
                                        <th class="text-center">Meeting Issue</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody style="overflow:scroll">
                                    <tr ng-show="RequestList.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                                    <tr dir-paginate="item in RequestList| filter:q  | itemsPerPage: pageSize " current-page="currentPage" ng-style="{'background-color':$even?evenColor:oddColor}">
                                        <td>{{item.MeetingDate}}</td>
                                        <td class="text-center">{{item.MeetingTime | date:'hh: mm a'}}</td>
                                        <td class="text-center">{{item.StudentName}}</td>
                                        <td class="text-center">{{item.Reason}}</td>
                                        <td class="text-center">{{item.Status}}</td>
                                        <td >
                                            <div class="btn-group ">
                                                <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                    Options
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" style="left: -10%;">
                                                    <li>
                                                        <a href="#" ng-show="item.Status=='Pending'" data-target="#ViewDetails" data-toggle="modal" ng-click="view(item)">
                                                            View Details
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" ng-show="item.Status=='Pending'" data-target="#MeetingRequest" data-toggle="modal" ng-click="edit(item)">
                                                            Approve
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a  ng-hide="item.Status=='Rejected'" ng-click="updateStatus(item.RequestId,Status='Rejected')">
                                                            Reject
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                         <div class="row">
                             <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>

                         </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <div id="MeetingRequest" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="mform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title">Meeting Request</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="form-group" ng-class="{ 'has-error' : submitted && mform.MeetingIssue.$invalid}">
                                <label class="col-md-3 control-label">
                                    Meeting Issue
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="Rqst.MeetingIssue" class="form-control" placeholder="Meeting Issue" name="MeetingIssue">
                                    <div class="form-control-focus"> </div>
                                    <span ng-show="submitted && mform.MeetingIssue.$error.required" class="help-block">Meeting Issue Required</span>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{ 'has-error' : submitted && mform.Time.$invalid}">
                                <label class="col-md-3 control-label">
                                    Update Meeting Time
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-9">
                                    <div uib-timepicker ng-model="Rqst.Time" @*ng-required="Request.Time==null"*@ name="Time"
                                         onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-change="changed()" readonly-time="false"
                                         readonly-date="false" disabled-date="false" hour-step="hstep" minute-step="mstep" show-meridian="true"></div>
                                    <div class="form-control-focus"> </div>
                                    <span ng-show="submitted &&  mform.Time.$error.required" class="required">Invalid Time </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : submitted && mform.Remarks.$invalid}">
                                <label class="col-md-3 control-label">
                                    Remarks
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="Rqst.Remarks" class="form-control" placeholder="Remarks" name="Remarks">
                                    <div class="form-control-focus"> </div>
                                    <span ng-show="submitted && mform.Remarks.$error.required" class="help-block">Remarks Required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="ViewDetails" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title">View Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Name </label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.StudentName}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-md-4 control-label">Father's Name</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.FatherName}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mother's Name</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.MotherName}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Meeting Date</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.MeetingDate | date:"dd/MM/yyyy"}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Meeting Time</label>
                                        <div class="col-md-8">
                                            <label class="form-control"> {{View.MeetingTime | date:'hh:mm '}}</label>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                    <div>
                                        <img src="/Request/StudentImgByStudnetIId?StudentIId={{View.StudentIID}}" alt="" style="width: 180px;max-width: 300px;height: 180px;">
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" readonly rows="10" cols="30">{{View.Reason}}</textarea>

                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        OEMSApp.controller("parrentmeetCltr", ["$scope", "$http", "SweetAlert", "blockUI", "$window", "$filter",
                     function ($scope, $http, SweetAlert, blockUI, $window, $filter) {
                         init();
                         function init() {
                             initialize();
                         }
                         function initialize() {
                             $scope.pageSizeArray = [];
                             $scope.pageSizeArray.push({ value: 5, text: 5 });
                             $scope.pageSizeArray.push({ value: 10, text: 10 });
                             $scope.pageSizeArray.push({ value: 20, text: 20 });
                             $scope.pageSizeArray.push({ value: 50, text: 50 });
                             $scope.currentPage = 1;
                             $scope.pageSize = 10;
                           $scope.oddColor = '#E4F4F7';
                           GetMeetingList();
                           $scope.Rqst = {};
                         };

                         $scope.resetForm = function resetForm() {
                             $scope.Rqst = {};
                         }
                         $scope.view = function view(n) {
                             console.log(n);
                             $scope.View = n;
                         }
                         $scope.edit = function edit(n) {
                             $scope.Rqst.Id = n.RequestId;
                             $scope.Rqst.StudentId = n.StudentId;
                             $scope.Rqst.Time = new Date(n.Time);
                         }
                         $scope.save = function save() {
                             if ($scope.mform.$invalid)
                                 return;

                             $http({
                                 method: 'POST',
                                 url: baseUrl + 'Student/Request/ApproveStatus',
                                 data: $scope.Rqst
                             }).then(function successCallback(response) {
                                 $('#MeetingRequest').modal('toggle');
                                 GetMeetingList();
                                 toastr["success"](response.data.message);
                             }, function errorCallback(response) {
                                 GetMeetingList();
                                 // toastr["error"](response.data.message);
                             });

                         }

                         $scope.updateStatus = function updateStatus(Id, Status) {
                             $http({
                                 method: 'POST',
                                 url: baseUrl + 'Student/Request/UpdateStatus/' + Id + '/' + Status
                             }).then(function successCallback(response) {

                                 GetMeetingList();
                                 // toastr["success"](response.data.message);
                             }, function errorCallback(response) {
                                 GetMeetingList();
                                 // toastr["error"](response.data.message);
                             });
                         }
                         
                         function GetMeetingList() {
                             $http({
                                 method: 'GET',
                                 url: baseUrl + 'Employee/GetEmpParrentMeetingList/'
                             }).then(function SuccessCallback(response) {
                                 $scope.RequestList = response.data.results;
                                 toastr["info"](response.data.message);
                             })
                         }

                     }]);
    </script>
}



