@{
   ViewBag.Title = "ShowStudentsAttendance";
   Layout = "~/Views/Shared/_EmpLayout.cshtml";
}

<div class="portlet box" style="background-color:#18979b" ng-controller="">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bar-chart-o" style="color:white"></i>Student Daily Attendance
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN First FORM-->
        <form class="form-horizontal" id="formCommonFeilds" name="formCommonFeilds" novalidate>
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">


                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                        <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Section.$invalid}">
                            <label class="col-md-5 control-label">
                                Date :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7">
                                <input class="form-control" name="Date" type="datetime" placeholder="Date" readonly ng-change="getOrderbydate()" ng-click="p2=true" is-open="p2" uib-datepicker-popup="dd-MM-yyyy" ng-model="StdDailyAtteneance.Date" />
                                <div class="form-control-focus"> </div>
                                <span ng-show="submitted && formCommonFeilds.Section.$error.required" class="help-block">Type Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">
                            </label>
                            <div class="col-md-7">
                                <button ng-click="submitted=true;Search(formCommonFeilds.$valid)" class="btn green col-md-6">Show</button>
                                <button ng-click="Reset()" class="btn info col-md-5 col-md-offset-1">Reset</button>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<label class="col-md-1 control-label">
                            </label>*@
                            <div class="col-md-12">
                                <button ng-click="Report();submitted=true;" class="btn green col-md-6">Daily Attendance</button>
                                <button ng-click="ReportWithMissPreiod();submitted=true;" class="btn green col-md-5 col-md-offset-1">Miss Period</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!-- End First Form-->

    </div>

    <div class="portlet-body">
        <div class="table-container">
            <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                <table class="table table-bordered table-hover">
                    <thead style="background-color:#18979b">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Roll</th>
                            <th>Status</th>
                            <th>Missed Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="AspNetusers.results.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                        <tr ng-repeat="item in StudentAttendentInfos">
                            <td>{{item.StudentInsID}}</td>
                            <td>{{item.FullName}}</td>
                            <td>{{item.RollNo}}</td>
                            <td ng-if="item.DayStatus=='P'" style="color:black"><strong>{{item.DayStatus}}</strong></td>
                            <td ng-if="item.DayStatus=='A'" style="color:red"><strong>{{item.DayStatus}}</strong></td>
                            <td ng-if="item.DayStatus=='L'" style="color:deeppink"><strong>{{item.DayStatus}}</strong></td>
                            <td>{{item.AbscondingPeriod}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
