
@{
    ViewBag.Title = "Unit Setup";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid"  ng-controller="AssetUnitSetupClt"> 

    <div class="row">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Asset Unit Setup
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="dropdown dropdown-inline">
                            <button type="button" ng-click="resetForm()" class="btn btn-brand btn-icon-sm" data-toggle="modal" data-target="#addmodal" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-plus"></i> Add New Asset Unit Setup
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">

                                <select class="form-control kt-font-brand" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-1">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-5">
                        <div id="sample_3_filter" class="pull-right">
                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover rounded">
                    <thead>
                        <tr class="btn-primary">
                            <th width="30%">Unit Name</th>
                            <th width="15%" style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="AssetUnitSetups.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                        <tr dir-paginate="item in AssetUnitSetups | filter:q  | itemsPerPage: pageSize " current-page="currentPage">
                            <td>{{item.UnitName}}</td>
                            <td align="center">
                                <a class="btn btn-outline-brand btn-elevate btn-icon" ng-click="edit(item)" data-target="#addmodal" data-toggle="modal">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a ng-click="deleteProductCate(item)" class="btn btn-outline-danger btn-elevate btn-icon" href="javascript:;" id="kt_sweetalert_demo_9">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>


    <!-- End: life time stats -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{modalTitle}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row" ng-class="{ 'has-error' : submitted && addform.CategoryName.$invalid}">
                                        <label class="col-md-4 control-label" style="text-align:right">
                                            Unit Name :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="AssetUnitSetup.UnitName" class="form-control" placeholder="Unit Name" name="CategoryName" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.CategoryName.$error.required" class="help-block">Category Name Required</span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn  btn-secondary" ng-click="resetForm();">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>

@section Scripts{

    <script type="text/javascript">

        OEMSApp.controller("AssetUnitSetupClt", ["$scope", "$http", "SweetAlert",
              function ($scope, $http, SweetAlert) {
                  init();
                  function init() {
                      initialize();
                      getAssetUnitSetups(1);
                  }
                  function initialize() {
                      $scope.modalTitle = "Add Unit";
                      $scope.AssetUnitSetup = {};
                      $scope.AssetUnitSetup.AssetUnitSetupId = 0;

                      $scope.AssetUnitSetups = [];
                      $scope.getAssetUnitSetups = getAssetUnitSetups;
                      $scope.resetForm = resetForm;

                      $scope.pageSizeArray = [];
                      $scope.pageSizeArray.push({ value: 5, text: 5 });
                      $scope.pageSizeArray.push({ value: 10, text: 10 });
                      $scope.pageSizeArray.push({ value: 20, text: 20 });
                      $scope.pageSizeArray.push({ value: 50, text: 50 });
                      $scope.currentPage = 1;
                      $scope.pageno = 1;
                      $scope.pageSize = 10;
                      $scope.total_count = 12;

                  }

                  function resetForm() {
                      $scope.modalTitle = "Add Unit";
                      $scope.AssetUnitSetup = {};
                      $scope.AssetUnitSetup.AssetUnitSetupId = 0;
                      $scope.addform.$setUntouched();
                      $scope.addform.$setPristine();
                      $scope.submitted = false;
                      getUnitSetups(1);


                  }
                  function getAssetUnitSetups(pageno) {
                      $scope.AssetUnitSetups = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Inventory/GetAssetUnitSetups/'
                      }).then(function successCallback(response) {
                          $scope.AssetUnitSetups = response.data.results;
                          toastr["info"](response.data.message);
                      }, function errorCallback(response) {
                          toastr["warning"](response.data.Message);
                      });
                  }

                  $scope.edit = function (n) {
                      $scope.modalTitle = "Update Unit";
                      $scope.AssetUnitSetup = n;
                      $scope.AssetUnitSetup.AssetUnitSetupId = n.AssetUnitSetupId;
                  };
                  $scope.save = function save(e) {
                      if (Validation())
                      {
                          if ($scope.AssetUnitSetup.AssetUnitSetupId != 0) /// For Update
                          {
                              if ($scope.UnitSetup != '') {
                                  $http({
                                      method: 'PUT',
                                      url: baseUrl + 'Inventory/UpdateAssetUnitSetup/',
                                      data: $scope.AssetUnitSetup
                                  }).then(function successCallback(response) {
                                      $('#addmodal').modal('toggle');
                                      toastr["info"](response.data.message);
                                      resetForm();
                                  }, function errorCallback(response) {
                                      toastr["warning"](response.data.Message);
                                  });
                              }
                          } else {  //  For Add
                              if ($scope.AssetUnitSetup != {}) {
                                  $http({
                                      method: 'POST',
                                      url: baseUrl + 'Inventory/AddAssetUnitSetup/',
                                      data: $scope.AssetUnitSetup
                                  }).then(function successCallback(response) {
                                      $('#addmodal').modal('toggle');
                                      toastr["info"](response.data.message);
                                      resetForm();
                                  }, function errorCallback(response) {
                                      toastr["warning"](response.data.Message);
                                  });
                              }
                          }
                      } else {
                          toastr["warning"]('Form Invalid');
                      }

                  };

                  $scope.deleteProductCate = function deleteProductCate(n) {
                      // SweetAlert.swal("Good job!", "You clicked the button!", "success");
                      SweetAlert.swal({
                          title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                          confirmButtonText: "Yes, delete it!",
                          closeOnConfirm: false
                      },
                      function (isConfirm) {
                          if (isConfirm) {
                              $http({
                                  method: 'POST',
                                  url: baseUrl + 'Inventory/DeleteAssetUnitSetup/',
                                  data: n
                              }).then(function successCallback(response) {
                                  SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                  getAssetUnitSetups(1);
                              }, function errorCallback(response) {
                                  toastr["warning"](response.data.Message);
                              });
                          }
                      });
                  };
                  function Validation() {
                      if ($scope.addform.$invalid) {
                          return false;
                      }
                      if ($scope.addform.$valid) {
                          return true;
                      }
                  }

              }]);
    </script>

}

