
@{
    ViewBag.Title = "Parents Meeting";
}
<style>
    .Approved {
        background: rgba(0, 156, 184, 0.521);
        color: #009DB8;
        padding: 8px 16px;
        border-radius: 27px;
    }

    .pending {
        background: rgba(252, 122, 82, 0.5);
        color: #FC7B52;
        padding: 8px 16px;
        border-radius: 27px;
    }

    .Rejected {
        background: #dc3545;
        color: white;
        padding: 8px 16px;
        border-radius: 27px;
    }
</style>
<div class="row mt-3" ng-controller="StdRequestApply">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header Leave-card-header">
                Parents Meeting
            </div>
            <div class="card-body">
                 <div class="portlet-body" ng-show="RequestList.length>0">
                    <div class="table-container">
                        <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                            <div class="row">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-group row">
                                        <div class="col-md-2 col-sm-5  col-xs-4">
                                            <label for="search" class="control-label" style="padding-top: 5px;">Items</label>
                                        </div>
                                        <div class="col-lg-4 col-md-8 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-3 col-xs-1">
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-5">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable"> </div>
                            <table class="table table-bordered table-inverse">
                                <thead class="btnColor">
                                    <tr>
                                        <th>Meeting Date</th>
                                        <th class="text-center">Meet With</th>
                                        <th class="text-center">Meeting Issue</th>
                                        <th class="text-center">Remarks</th>
                                        
                                    </tr>
                                </thead>
                                <tbody style="overflow:scroll">
                                    <tr ng-show="RequestList.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                                    <tr dir-paginate="item in RequestList| filter:q  | itemsPerPage: pageSize " current-page="currentPage" ng-style="{'background-color':$even?evenColor:oddColor}">
                                        <td>{{item.Date | date:"dd/MM/yyyy"}}</td>
                                        <td class="text-center">{{item.Text}}</td>
                                        <td class="text-center">{{item.MeetingIssue}}</td>
                                        <td class="text-center">{{item.Remarks}} {{item.Time |date:'hh: mm a'}}</td>
                                        @*<td>
                                            @*<a class="btn btn-success" ng-hide="item.Status=='Pending' || item.Status=='Rejected'" ng-click="updateStatus(item.Id,Status='Approved')">
                                                Approve
                                            </a>
                                            <a  class="btn btn-danger" ng-hide="item.Status=='Pending' || item.Status=='Rejected'" ng-click="updateStatus(item.Id,Status='Rejected')">
                                                Reject
                                            </a>
                                          
                                           <div class="btn-group ">
                                          
                                                <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" >
                                                    Options
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" style="left: -111%;">
                                                    <li>
                                                        <a href="#"  ng-click="updateStatus(item.Id,Status='Approved')">
                                                            Approve
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"  ng-click="updateStatus(item.Id,Status='Rejected')">
                                                            Reject
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>*@
                                    </tr>
                                </tbody>
                            </table>

                     
                              <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>
                       

                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        OEMSApp.controller("StdRequestApply", ["$scope", "$http", "SweetAlert", "blockUI", "$window", "$filter",
                     function ($scope, $http, SweetAlert, blockUI, $window, $filter) {
                         init();
                         function init() {
                             initialize();
                         }
                         function initialize() {
                             $scope.pageSizeArray = [];
                             $scope.pageSizeArray.push({ value: 5, text: 5 });
                             $scope.pageSizeArray.push({ value: 10, text: 10 });
                             $scope.pageSizeArray.push({ value: 20, text: 20 });
                             $scope.pageSizeArray.push({ value: 50, text: 50 });
                             $scope.currentPage = 1;
                             $scope.pageSize = 10;
                       
                           $scope.oddColor = '#E4F4F7';
                           GetForMeetingList();

                         };
                         $scope.updateStatus = function updateStatus(StudentId,Status) {
                             $http({
                                 method: 'POST',
                                 url: baseUrl + 'PortalRequest/UpdateStatusForParrentsMeeting/' + StudentId + '/' + Status
                             }).then(function SuccessCallback(response) {
                                 toastr["success"](response.data.message);
                             })
                         }

                         function GetForMeetingList() {
                             $http({
                                 method: 'GET',
                                 url: baseUrl + 'PortalRequest/GetForMeetingList/'
                             }).then(function SuccessCallback(response) {
                                 $scope.RequestList = response.data.results;
                             })
                         }

                     }]);
    </script>
}



