
@{
    ViewBag.Title = "Routine";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="row main-row">
    <div class="col-lg-12">
        <div class="routne-head">
            <h3>Class Shedule</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 mt-2">
        <div class="card">
            <div class="card-body routen-body">
                <div class="row">
                    <div class="col-lg-3 m-auto text-center">
                        <div class="rotune-calender text-center">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="rotune-week">
                            <h6>Saturday</h6>
                            <p>02.02.2019</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3 m-auto text-center">
                        <div class="rotune-calender text-center">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="rotune-week">
                            <h6>Saturday</h6>
                            <p>02.02.2019</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3 m-auto text-center">
                        <div class="rotune-calender text-center">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="rotune-week">
                            <h6>Saturday</h6>
                            <p>02.02.2019</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3 m-auto text-center">
                        <div class="rotune-calender text-center">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="rotune-week">
                            <h6>Saturday</h6>
                            <p>02.02.2019</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">09:00</td>
                                    <td>English</td>
                                    <td>with Aminul Islam</td>
                                    <td>at Room 201</td>
                                    <td><i class="fas fa-link"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

