
@{
    ViewBag.Title = "Sendfeedback";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header feedback-card">
                Featured
            </div>
            <div class="card-body">
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group mt-3">
                    <textarea class="form-control" placeholder="Write your feedback" aria-label="With textarea"></textarea>
                </div>
                <button type="button" class="btn btn-primary mt-3 feedback-button" data-toggle="modal" data-target="#exampleModalCenter">
                    Submit
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content feedback-modal-content">
                            <div class="modal-body text-center feedback-modal">
                                <i class="fas fa-check"></i>
                                <h3>Awesome!</h3>
                                <p>
                                    Thanks for giving us
                                    your valuable
                                    feedback
                                </p>
                            </div>
                            <div class="modal-footer feedback-modal-footer text-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
 </div>
</div>
