
@{
    ViewBag.Title = "FeesFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron bg bg-danger ">
        <h2>Fees Payment Fail</h2>
        <div class="alert alert-danger">@ViewBag.msg</div> 
    </div>
</div>

