
@{
    ViewBag.Title = "FeesSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron  bg bg-primary ">
        <h2>Fees Payment Success</h2>
    </div>
</div>

