
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="color:red"><spam></spam> Access Denied (403)</h1>
<h4  class="text-center">Your account don't have the permission to view the content</h4>

