
@{
    ViewBag.Title = "AddTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input100 {
        font-family: Ubuntu-Bold;
        font-size: 15px;
        color: #1b3815;
        line-height: 1.2;
        position: relative;
        display: block;
        width: 100%;
        height: 55px;
        background: #ebebeb;
        border-radius: 27px;
        padding: 0 35px 0 35px;
    }

    .it .btn-orange {
        background-color: blue;
        border-color: #777 !important;
        color: #777;
        text-align: left;
        width: 100%;
    }

    .it input.form-control {
        border: none;
        margin-bottom: 0px;
        border-radius: 0px;
        border-bottom: 1px solid #ddd;
        box-shadow: none;
    }

    .it .form-control:focus {
        border-color: #ff4d0d;
        box-shadow: none;
        outline: none;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>
<link href="http://cdn.addiesoft.com/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="http://cdn.addiesoft.com/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="http://cdn.addiesoft.com/admin/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="http://cdn.addiesoft.com/admin/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.addiesoft.com/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="http://cdn.addiesoft.com/admin/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="http://cdn.addiesoft.com/admin/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="http://cdn.addiesoft.com/admin/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="http://cdn.addiesoft.com/admin/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
@try
{
    string msg = Session["ticketerror"].ToString();
    <h3 style="color: white;text-align: center;background-color: indianred;padding-top: 1%;padding-bottom: 1%;">@msg</h3>
    Session.Abandon();
}
catch
{

}
@*<h2 class="text-center bold" style="background-color: gainsboro;margin-top: -2%;">Add Ticket</h2>*@
<h2 class="SetUpHead">Add Ticket</h2>
<div ng-controller="ticketkAddClt" style="padding-right: 3%;">
    <form name="frm" id="frm" class="form-horizontal" action="/Ticket/AddTicket" role="form" method="post" enctype="multipart/form-data" >
         <div class="portlet-body form" style="display: block;">
            <div class="form-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="font-size: 136%;margin-left: 4%;">Title</label>
                        <div class="col-md-10" style="margin-left: 3%;">
                            <input autocomplete="off" type="text" maxlength="50" name="Title" class="form-control input-lg bs-select" placeholder="Ticket Title" required />
                         </div>
                    </div>
                </div>
                <div class="row" style="margin-left:1.5%;margin-right: -5%;">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="form-group">
                            <label class="col-md-3 control-label" style="font-size: 136%;">Department</label>
                            <div class="col-md-9">
                                <select name="DepartmentId" class="form-control input-lg" required>
                                    <option value="">Select Please</option>
                                    <option ng-repeat="item in DepartmentList" ng-if='item.Status=="A"' value="{{item.Id}}">
                                        {{item.DeptName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label " style="font-size: 136%;">Category</label>
                            <div class="col-md-9">

                                <select class="form-control input-lg" name="CategoryId">
                                    <option value="">Select Please</option>
                                    <option ng-repeat="item in CategoryList" ng-if='item.Status=="A"' value="{{item.Id}}">
                                        {{item.CategoryName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" style="font-size: 136%;">Project</label>
                            <div class="col-md-9">
                                <select class="form-control input-lg" name="ProjectId" required>
                                    <option value="">Select Please</option>
                                    <option ng-repeat="item in ProjectList" ng-if='item.Status=="A"' value="{{item.Id}}">
                                        {{item.ProjectName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" style="font-size: 136%;">Client</label>
                            <div class="col-md-9">
                                <select class="form-control input-lg" name="ClientId" >
                                    <option value="">Select Please</option>
                                    <option ng-repeat="item in LoadClientList" ng-if='item.Status=="A"' value="{{item.Id}}">
                                        {{item.ShortName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 5%;">
                        @*<div class="form-group">
                        
                            <label class="col-md-3 control-label" style="font-size: 136%;padding-left: 16%;">Priority</label>
                            <div class="mt-radio-inline col-md-9" style="border-radius: 17px; background: #ddd;cursor: pointer;height: 25px;width: 282px;margin-left: 52px;">
                                <label class="mt-radio" style="color:red;padding-right: 6%;">
                                    <input checked type="radio" name="Priority" id="optionsRadios4" value="1"/>High
                                    <span></span>
                                </label>
                                <label class="mt-radio" style="color:green;padding-right: 6%;">
                                    <input  type="radio" name="Priority" id="optionsRadios5" value="2"/> Medium
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio" style="padding-right: 6%;color:#27a4b0">
                                    <input type="radio" style="background:red;" name="Priority" id="optionsRadios6" value="3"/> Low
                                    <span></span>
                                </label>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-md-4 control-label" style="font-size: 136%;">Module</label>
                            <div class="col-md-8">
                                <select class="form-control input-lg" name="ModuleId">
                                    <option value="">Select Please</option>
                                    <option ng-repeat="item in ModuleList" ng-if='item.Status=="A"' value="{{item.Id}}">
                                        {{item.ModuleName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label class="col-md-4 control-label" style="font-size: 136%;">Due Date</label>
                            <div class="col-md-8">
                                @*<input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Date Time" readonly ng-click="q1=true" ng-model="Meeting.MeetingDate" is-open="q1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />*@
                                <input name="ClosedDate" readonly id="DueDate" type="text" autocomplete="off" class="form-control input-lg" placeholder="mm-dd-yyyy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" style="font-size: 136%;">Attachment</label>                            
                            <div class="col-md-5" style="padding-right: 1px;">
                                <input  type="text" placeholder="No File Chosen" class="form-control input-lg" readonly>  
                             </div>
                            <div class="col-md-3">
                                <span class="fileUpload btn " style="line-height: 30px;margin-left: -16%; background-color:#ffe4c4;">
                                    <input type="file" accept="image/jpg/jpeg/doc/docx/txt/pdf/png" class="upload up text-center" id="up" value="Choose File" name="AttachFiles" multiple />
                                    Upload File
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="margin-left:3%;">
                        <div class="col-md-1">
                            <label class="control-label" style="font-size: 136%;">Description</label>
                        </div>
                        <div class="col-md-7">
                            <textarea cols="116" name="Description" rows="5" style="margin-left:6%;width:151%;font-size: x-large;"  required></textarea >
                        </div>                    
                    </div>
                    </div>

                <div class="modal-footer" style="margin-right: -1%;">
                    <button type="reset" class="btn btn-danger" id="resetbtn"  style="font-size:large;">Reset</button>
                    <button type="submit"  class="btn btn-success" title="Go To Back Ticket List" style="font-size:large;">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).on('change', '.up', function () {
        var names = [];
        var length = $(this).get(0).files.length;
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            names.push($(this).get(0).files[i].name);
        }
        // $("input[name=file]").val(names);
        if (length > 2) {
            var fileName = names.join(', ');
            $(this).closest('.form-group').find('.form-control').attr("value", length + " files selected");
        }
        else {
            $(this).closest('.form-group').find('.form-control').attr("value", names);
        }

    });

    $(document).ready(function () {
        $("#DueDate").datepicker({
            autoclose: true,
            startDate: '0d'
        });


        //var validFilesTypes = ["gif", "png", "jpg",
        // "jpeg", "doc", "docx", "xls", "xlsx",
        // "rar", "zip", "txt", "pdf"];
        //$('.up').change(function () {
        //    CheckExtension(this);

        //    validateFileSize(this);

        //});
        //function CheckExtension(e) {
        //    /*global document: false */


        //    var file = e;
        //    var path = file.value;

        //    var ext = path.substring(path.lastIndexOf(".") + 1, path.length).toLowerCase();
        //    var isValidFile = false;
        //    for (var i = 0; i < validFilesTypes.length; i++) {
        //        if (ext == validFilesTypes[i]) {
        //            isValidFile = true;
        //            break;
        //        }
        //    }
        //    if (!isValidFile) {
        //        e.value = null;
        //        alert("Invalid File. Unknown Extension Of Tender Doc" +
        //        "Valid extensions are:\n\n" + validFilesTypes.join(", "));
        //    }
        //    return isValidFile;
        //}

        //function validateFileSize(e) {
        //    /*global document: false */
        //    var file = e;
        //    var fileSize = file.files[0].size;
        //    var isValidFile = false;
        //    if (fileSize !== 0 && fileSize <= 25214400) {
        //        isValidFile = true;
        //    }
        //    if (!isValidFile) {
        //        e.value = null;
        //        alert("File Size Should be Greater than 0 and less than 25 mb");
        //    }
        //    return isValidFile;
        //}


    });

  AddieApp.controller("ticketkAddClt", ["$scope", "$http", "SweetAlert",
        function ($scope, $http) {

            init();
            function init() {
                $("#resetbtn").click();
                initialize();
            }

            function initialize() {
                LoadDepartmentList();
                LoadProjectList();
                LoadCategoryList();
                LoadClientList();
                LoadModuleList();
               

            }
            function LoadClientList() {
                $http.post(baseUrl + 'Setup/LoadClientList').
                  then(function (response) {
                      $scope.LoadClientList = response.data;
                      //console.log($scope.LoadClientList);
                      //toastr.success($scope.LoadClientList.length + ' Client found');
                  });
            }
            function LoadProjectList() {
                $http.post(baseUrl + 'Setup/LoadProjectList').
                  then(function (response) {
                      $scope.ProjectList = response.data;
                  });
            };

            function LoadModuleList() {
                $http.post(baseUrl + 'Setup/LoadModuleList').
                  then(function (response) {
                      $scope.ModuleList = response.data;
                    
                      //toastr.success($scope.ModuleList.length + ' Module found');
                  });
            }

                function LoadDepartmentList() {
                    $http.post(baseUrl + 'Setup/LoadDepartmentListForTicket').
                      then(function (response) {
                          $scope.DepartmentList = response.data;
                          //toastr.success( $scope.ProjectList.length + ' Project found');
                      });
                };

                function LoadCategoryList() {
                    $http.get(baseUrl + 'Setup/LoadCategoryList').
                      then(function (response) {
                          $scope.CategoryList = response.data;
                          //toastr.success( $scope.ProjectList.length + ' Project found');
                      });
                };
            }]);
</script>
