
@{
    ViewBag.Title = "AttendanceDetails";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-pills mb-3 row" id="pills-tab" role="tablist">
                    <li class="nav-item col-lg-6">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Monthly View</a>
                    </li>
                    <li class="nav-item col-lg-6">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Yearly View</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="calender">
                            <ul class="month">
                                <li>
                                    <h1>January</h1>
                                    <h2>2016</h2>
                                </li>
                                <span class="prev">&#10094;</span>
                                <span class="next">&#10095;</span>
                            </ul>
                            <ul class="weeks">
                                <li>Sa</li>
                                <li>Su</li>
                                <li>Mo</li>
                                <li>Tu</li>
                                <li>We</li>
                                <li>Th</li>
                                <li>Fr</li>
                            </ul>
                            <ul class="days"></ul>
                        </div>
                    </div>
                    <div class="tab-pane fade row" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header summer-view">
                                    Yearly View
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead class="Yearly-Attendance">
                                            <tr>
                                                <th scope="col">Months Name</th>
                                                <th scope="col">Total Class Days</th>
                                                <th scope="col">Total Presents</th>
                                                <th scope="col">Total Absent</th>
                                                <th scope="col">Total Late</th>
                                                <th scope="col">Total Yearly Leave</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>JANUARY 2019</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                            </tr>
                                            <tr>
                                                <td>FEBRUARY 2019</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                            </tr>
                                            <tr>
                                                <td>MARCH 2019</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                            </tr>
                                            <tr>
                                                <td>APRIL 2019</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                            </tr>
                                            <tr>
                                                <td>MAY 2019</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                                <td>25</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="//cdn.addiesoft.com/studentportal/js/progress.js"></script>
    <script src="//cdn.addiesoft.com/admin/assets/global/plugins/Chart.min.js" type="text/javascript"></script>

    <script>
        //progress
        $(document).ready(function ($) {

        });
    </script>

    <script type="text/javascript">

        $(document).ready(function ($) {
            var attn = [];
            var AttPreDay = [];
            var AttAbsentDay = [];
            var AttWorkingDay = [];
            var albl = [];

            $.get("@Url.Action("GetPortalDashBoardData", "Home")", function (data) {
                attn = data.CurrMonthAttendance;
                days(0);
                smsShow(data.SMSList);
                $("#prePercent").attr("data-percent", parseInt(data.PeresentPercent));
                animateElements();
                $(window).scroll(animateElements);
                $("#totalDue").html('Taka ' + formatMoney( data.TotalDue))
                $("#dueMonth").html(data.FeesMonth);
                noticeShow(data.NoticeList);

                AttPreDay = data.AttPreDay;
                AttAbsentDay = data.AttAbsentDay;
                AttWorkingDay = data.AttWorkingDay;
                albl = data.Attlabel;
                drawchart();
            });
       //public variables
            var calender = document.querySelector(".calender"),//container of calender
                topDiv = document.querySelector('.month'),
                monthDiv = calender.querySelector("h1"),//h1 of monthes
                yearDiv = calender.querySelector('h2'),//h2 for years
                weekDiv = calender.querySelector(".weeks"),//week container
                dayNames = weekDiv.querySelectorAll("li"),//dayes name
                dayItems = calender.querySelector(".days"),//date of day container
                prev = calender.querySelector(".prev"),
                next = calender.querySelector(".next"),

                // date variables
                years = new Date().getFullYear(),
                monthes = new Date(new Date().setFullYear(years)).getMonth(),
                lastDayOfMonth = new Date(new Date(new Date().setMonth(monthes + 1)).setDate(0)).getDate(),
                dayOfFirstDateOfMonth = new Date(new Date(new Date().setMonth(monthes)).setDate(1)).getDay(),

                // array to define name of monthes
                monthNames = ["January", "February", "March", "April", "May", "June",
                              "July", "August", "September", "October", "November", "December"],

                i,//counter for day before month first day in week
                x,//counter for prev , next
                counter;//counter for day of month  days;


            //display dayes of month in items
            function days(x) {
                'use strict';
                dayItems.innerHTML = "";
                monthes = monthes + x;



                /////////////////////////////////////////////////
                //test for last month useful while prev ,max prevent go over array
                if (monthes > 11) {
                    years = years + 1;
                    monthes = new Date(new Date(new Date().setFullYear(years)).setMonth(0)).getMonth();
                }
                if (monthes < 0) {
                    years = years - 1;
                    monthes = new Date(new Date(new Date().setFullYear(years)).setMonth(11)).getMonth();
                }

                lastDayOfMonth = new Date(new Date(new Date(new Date().setFullYear(years)).setMonth(monthes + 1)).setDate(0)).getDate();
                dayOfFirstDateOfMonth = new Date(new Date(new Date(new Date().setFullYear(years)).setMonth(monthes)).setDate(1)).getDay();

                var curMonth = monthes+1


                /////////////////////////////////////////////////
                yearDiv.innerHTML = years;
                monthDiv.innerHTML = monthNames[monthes];
                for (i = 0; i <= dayOfFirstDateOfMonth; i = i + 1) {
                    if (dayOfFirstDateOfMonth === 6) { break; }
                    dayItems.innerHTML += "<li> - </li>";
                }
                for (counter = 1; counter <= lastDayOfMonth; counter = counter + 1) {
                    dayItems.innerHTML += "<li class='" + getattClass(counter, monthes, years) + "'>" + (counter) + "</li>";


                }
                //topDiv.style.background = colors[monthes];
                //dayItems.style.backgroundColor = 'red';
                //تمييز اليوم الحالى
                if (monthes === new Date().getMonth() && years === new Date().getFullYear()) {
                    //فى حالة التاريخ الحالى =الخلفيه خضراء
                    dayItems.children[new Date().getDate() + dayOfFirstDateOfMonth].style.background = "";
                }
            }
            prev.onclick = function () {
                'use strict';
                days(-1);//decrement monthes
            };
            next.onclick = function () {
                'use strict';
                days(1);//increment monthes
            };



            function getattClass(day, month, year) {
                for (var i = 0; i < attn.length; i++) {
                    var sDate = new Date(attn[i].CalendarDate);
                    var sM = sDate.getMonth()
                    if (sDate.getMonth() == 2 && day==5)
                    {
                       // console.log(sDate.getMonth());
                    }

                    if (sM == month && sDate.getFullYear() == year && sDate.getDate() == day)
                        return attn[i].ClassName;

                }
               // return 'absent'

            }

            //end


            function drawchart() {
                var ctx = document.getElementById("lineChart");
                var lineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: albl,
                        datasets: [{
                            label: 'Present',
                            data: AttPreDay,
                            backgroundColor: 'transparent',
                            borderColor: '#58CF91',
                            borderWidth: 4
                        },{
                            label: 'Absent',
                            data: AttAbsentDay,
                            backgroundColor: 'transparent',
                            borderColor: '#f2071e',
                            borderWidth: 4
                        },{
                            label: 'Working Days',
                            data: AttWorkingDay,
                            backgroundColor: 'transparent',
                            borderColor: '#0a06e8',
                            borderWidth: 4
                        }
                        ]
                    },
                    options: {
                        legend: {
                            display: true,
                            labels: {
                                usePointStyle: true
                            }
                        },
                        responsive: false,
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: true,
                                },
                                gridLines: {
                                    drawOnChartArea: false
                                },
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Month'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    display: true,
                                },
                                gridLines: {
                                    drawOnChartArea: false
                                },
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Days'
                                }
                            }]
                        }
                    }
                });
            }

        });

    </script>


}