/****** Object:  StoredProcedure [dbo].[GetInstutionSetup]    Script Date: 7/22/2017 4:32:36 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Res_TempGrandResult]'))
BEGIN
DROP TABLE  Res_TempGrandResult
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Res_TempGrandResult](
	[StudentIID] [bigint] NULL,
	[SubjectId] [int] NULL,
	[SubjectName] [varchar](50) NULL,
	[ReportSerialNo] [int] NULL,
	[Org_SubjectType] [varchar](5) NULL,
	[Student_SubjectType] [varchar](5) NULL,
	[IsNoEffectOnExam] [bit] NULL,
	
	-----------------------------------------------------------------------------------  Main Exam 1 
	[M1Name] [varchar](50) NULL,
	[M1S1Name] [varchar](50) NULL,
	[M1S1W1Obt] [decimal](10, 2) NULL,
	[M1S1W2Obt] [decimal](10, 2) NULL,
	[M1S1W3Obt] [decimal](10, 2) NULL,
	[M1S1SubObt] [decimal](10, 2) NULL,
	[M1S1ObjObt] [decimal](10, 2) NULL,
	[M1S1PraObt] [decimal](10, 2) NULL,

	[M1S1W1Conv] [decimal](10, 2) NULL,
	[M1S1W2Conv] [decimal](10, 2) NULL,
	[M1S1W3Conv] [decimal](10, 2) NULL,
	[M1S1SubConv] [decimal](10, 2) NULL,
	[M1S1ObjConv] [decimal](10, 2) NULL,
	[M1S1PraConv] [decimal](10, 2) NULL,



	[M1S1W1Frac] [decimal](10, 2) NULL,
	[M1S1W2Frac] [decimal](10, 2) NULL,
	[M1S1W3Frac] [decimal](10, 2) NULL,
	[M1S1SubFrac] [decimal](10, 2) NULL,
	[M1S1ObjFrac] [decimal](10, 2) NULL,
	[M1S1PraFrac] [decimal](10, 2) NULL,

	[M1S1W1IsPass] [bit] NULL,
	[M1S1W2IsPass] [bit] NULL,
	[M1S1W3IsPass] [bit] NULL,
	[M1S1SubIsPass] [bit] NULL,
	[M1S1ObjIsPass] [bit] NULL,
	[M1S1PraIsPass] [bit] NULL,
	[M1S1W1IsAbs] [bit] NULL,
	[M1S1W2IsAbs] [bit] NULL,
	[M1S1W3IsAbs] [bit] NULL,
	[M1S1SubIsAbs] [bit] NULL,
	[M1S1ObjIsAbs] [bit] NULL,
	[M1S1PraIsAbs] [bit] NULL,
	[M1S1W1IsEnable] [bit] NULL,
	[M1S1W2IsEnable] [bit] NULL,
	[M1S1W3IsEnable] [bit] NULL,
	[M1S1SubIsEnable] [bit] NULL,
	[M1S1ObjIsEnable] [bit] NULL,
	[M1S1PraIsEnable] [bit] NULL,

	[M1S1W1ExamMark] [decimal](10, 2) NULL,
	[M1S1W2ExamMark] [decimal](10, 2) NULL,
	[M1S1W3ExamMark] [decimal](10, 2) NULL,
	[M1S1SubExamMark] [decimal](10, 2) NULL,
	[M1S1ObjExamMark] [decimal](10, 2) NULL,
	[M1S1PraExamMark] [decimal](10, 2) NULL,

	[M1S1W1FullMark] [decimal](10, 2) NULL,
	[M1S1W2FullMark] [decimal](10, 2) NULL,
	[M1S1W3FullMark] [decimal](10, 2) NULL,
	[M1S1SubFullMark] [decimal](10, 2) NULL,
	[M1S1ObjFullMark] [decimal](10, 2) NULL,
	[M1S1PraFullMark] [decimal](10, 2) NULL,

	[M1S1TotalObt] [decimal](10, 2) NULL,
	[M1S1TotalConv] [decimal](10, 2) NULL,
	[M1S1TotalFrac] [decimal](10, 2) NULL,
	[M1S1OrigTotalObt] [decimal](10, 2) NULL,
	[M1S1IsPass] [bit] NULL,
	[M1S1IsAbs] [bit] NULL,

	[M1S1SOPTotalObt] [decimal](10, 2) NULL,
	[M1S1SOPTotalConv] [decimal](10, 2) NULL,
	[M1S1SOPTotalFrac] [decimal](10, 2) NULL,


	[M1S1ExamMark] [decimal](10, 2) NULL,
	[M1S1ExamConvMark] [decimal](10, 2) NULL,

	
	[M1S2Name] [varchar](50) NULL,
	[M1S2W1Obt] [decimal](10, 2) NULL,
	[M1S2W2Obt] [decimal](10, 2) NULL,
	[M1S2W3Obt] [decimal](10, 2) NULL,
	[M1S2SubObt] [decimal](10, 2) NULL,
	[M1S2ObjObt] [decimal](10, 2) NULL,

	[M1S2PraObt] [decimal](10, 2) NULL,
	[M1S2W1Conv] [decimal](10, 2) NULL,
	[M1S2W2Conv] [decimal](10, 2) NULL,
	[M1S2W3Conv] [decimal](10, 2) NULL,
	[M1S2SubConv] [decimal](10, 2) NULL,
	[M1S2ObjConv] [decimal](10, 2) NULL,
	[M1S2PraConv] [decimal](10, 2) NULL,

	[M1S2W1Frac] [decimal](10, 2) NULL,
	[M1S2W2Frac] [decimal](10, 2) NULL,
	[M1S2W3Frac] [decimal](10, 2) NULL,
	[M1S2SubFrac] [decimal](10, 2) NULL,
	[M1S2ObjFrac] [decimal](10, 2) NULL,
	[M1S2PraFrac] [decimal](10, 2) NULL,

	[M1S2TotalObt] [decimal](10, 2) NULL,
	[M1S2OrigTotalObt] [decimal](10, 2) NULL,
	[M1S2TotalConv] [decimal](10, 2) NULL,
	[M1S2TotalFrac] [decimal](10, 2) NULL,
	[M1S2IsPass] [bit] NULL,
	[M1S2IsAbs] [bit] NULL,

	[M1S2SOPTotalObt] [decimal](10, 2) NULL,
	[M1S2SOPTotalConv] [decimal](10, 2) NULL,
	[M1S2SOPTotalFrac] [decimal](10, 2) NULL,

	[M1S2ExamMark] [decimal](10, 2) NULL,
	[M1S2ExamConvMark] [decimal](10, 2) NULL,

	[M1S2W1IsPass] [bit] NULL,
	[M1S2W2IsPass] [bit] NULL,
	[M1S2W3IsPass] [bit] NULL,
	[M1S2SubIsPass] [bit] NULL,
	[M1S2ObjIsPass] [bit] NULL,
	[M1S2PraIsPass] [bit] NULL,

	[M1S2W1IsAbs] [bit] NULL,
	[M1S2W2IsAbs] [bit] NULL,
	[M1S2W3IsAbs] [bit] NULL,
	[M1S2SubIsAbs] [bit] NULL,
	[M1S2ObjIsAbs] [bit] NULL,
	[M1S2PraIsAbs] [bit] NULL,

	[M1S2W1IsEnable] [bit] NULL,
	[M1S2W2IsEnable] [bit] NULL,
	[M1S2W3IsEnable] [bit] NULL,
	[M1S2SubIsEnable] [bit] NULL,
	[M1S2ObjIsEnable] [bit] NULL,
	[M1S2PraIsEnable] [bit] NULL,

	[M1S2W1ExamMark] [decimal](10, 2) NULL,
	[M1S2W2ExamMark] [decimal](10, 2) NULL,
	[M1S2W3ExamMark] [decimal](10, 2) NULL,
	[M1S2SubExamMark] [decimal](10, 2) NULL,
	[M1S2ObjExamMark] [decimal](10, 2) NULL,
	[M1S2PraExamMark] [decimal](10, 2) NULL,

	[M1S2W1FullMark] [decimal](10, 2) NULL,
	[M1S2W2FullMark] [decimal](10, 2) NULL,
	[M1S2W3FullMark] [decimal](10, 2) NULL,
	[M1S2SubFullMark] [decimal](10, 2) NULL,
	[M1S2ObjFullMark] [decimal](10, 2) NULL,
	[M1S2PraFullMark] [decimal](10, 2) NULL,


	[M1S3Name] [varchar](50) NULL,
	[M1S3W1Obt] [decimal](10, 2) NULL,
	[M1S3W2Obt] [decimal](10, 2) NULL,
	[M1S3W3Obt] [decimal](10, 2) NULL,
	[M1S3SubObt] [decimal](10, 2) NULL,
	[M1S3ObjObt] [decimal](10, 2) NULL,
	[M1S3PraObt] [decimal](10, 2) NULL,

	[M1S3W1Conv] [decimal](10, 2) NULL,
	[M1S3W2Conv] [decimal](10, 2) NULL,
	[M1S3W3Conv] [decimal](10, 2) NULL,
	[M1S3SubConv] [decimal](10, 2) NULL,
	[M1S3ObjConv] [decimal](10, 2) NULL,
	[M1S3PraConv] [decimal](10, 2) NULL,

	[M1S3W1Frac] [decimal](10, 2) NULL,
	[M1S3W2Frac] [decimal](10, 2) NULL,
	[M1S3W3Frac] [decimal](10, 2) NULL,
	[M1S3SubFrac] [decimal](10, 2) NULL,
	[M1S3ObjFrac] [decimal](10, 2) NULL,
	[M1S3PraFrac] [decimal](10, 2) NULL,


	[M1S3OrigTotalObt] [decimal](10, 2) NULL,
	[M1S3TotalObt] [decimal](10, 2) NULL,
	[M1S3TotalConv] [decimal](10, 2) NULL,
	[M1S3TotalFrac] [decimal](10, 2) NULL,
	[M1S3IsPass] [bit] NULL,
	[M1S3IsAbs] [bit] NULL,

	[M1S3SOPTotalObt] [decimal](10, 2) NULL,
	[M1S3SOPTotalConv] [decimal](10, 2) NULL,
	[M1S3SOPTotalFrac] [decimal](10, 2) NULL,



	[M1S3ExamMark] [decimal](10, 2) NULL,
	[M1S3ExamConvMark] [decimal](10, 2) NULL,

	[M1S3W1IsPass] [bit] NULL,
	[M1S3W2IsPass] [bit] NULL,
	[M1S3W3IsPass] [bit] NULL,
	[M1S3SubIsPass] [bit] NULL,
	[M1S3ObjIsPass] [bit] NULL,
	[M1S3PraIsPass] [bit] NULL,

	[M1S3W1IsAbs] [bit] NULL,
	[M1S3W2IsAbs] [bit] NULL,
	[M1S3W3IsAbs] [bit] NULL,
	[M1S3SubIsAbs] [bit] NULL,
	[M1S3ObjIsAbs] [bit] NULL,
	[M1S3PraIsAbs] [bit] NULL,

	[M1S3W1IsEnable] [bit] NULL,
	[M1S3W2IsEnable] [bit] NULL,
	[M1S3W3IsEnable] [bit] NULL,
	[M1S3SubIsEnable] [bit] NULL,
	[M1S3ObjIsEnable] [bit] NULL,
	[M1S3PraIsEnable] [bit] NULL,

	[M1S3W1ExamMark] [decimal](10, 2) NULL,
	[M1S3W2ExamMark] [decimal](10, 2) NULL,
	[M1S3W3ExamMark] [decimal](10, 2) NULL,
	[M1S3SubExamMark] [decimal](10, 2) NULL,
	[M1S3ObjExamMark] [decimal](10, 2) NULL,
	[M1S3PraExamMark] [decimal](10, 2) NULL,

	[M1S3W1FullMark] [decimal](10, 2) NULL,
	[M1S3W2FullMark] [decimal](10, 2) NULL,
	[M1S3W3FullMark] [decimal](10, 2) NULL,
	[M1S3SubFullMark] [decimal](10, 2) NULL,
	[M1S3ObjFullMark] [decimal](10, 2) NULL,
	[M1S3PraFullMark] [decimal](10, 2) NULL,

	
	[M1SectionWiseMerit] [int] NULL,
	[M1ShiftWiseMerit] [int] NULL,
	[M1ClassWiseMerit] [int] NULL,
	[M1TotalConvertedMarks] [decimal](10, 2) NULL,
	[M1TotalConvertedMarksFraction] [decimal](10, 2) NULL,
	[M1SubjectGP] [decimal](10, 2) NULL,
	[M1SubjectGL] [varchar](50) NULL,
	[M1IsPass] [Bit] NULL,
	[M1GPA] [decimal](8, 2) NULL,
	[M1GradeLetter] [varchar](20) NULL,
	[M1TotalGP] [decimal](8, 2) NULL,
	[M1FailStudentGPA] [decimal](8, 2) NULL,
	[M1SubjectObtMarks] [decimal](10, 2) NULL,
	[M1SubjectConvertedMarks] [decimal](10, 2) NULL,
	[M1SubjectConvMarksFrac] [decimal](10, 2) NULL,
	[M1SubjectHighestMarks] [decimal](10, 2) NULL,
	[M1SubjectIsPass] [Bit] NULL,
	[M1ExamMark] [decimal](10, 2) NULL,


	[M1VirtualConvertedMarks1] [decimal](10, 2) NULL,
	[M1VirtualIsPass1] [bit] NULL,
	[M1VirtualConvertedMarks2] [decimal](10, 2) NULL,
	[M1VirtualIsPass2] [bit] NULL,
	-----------------------------------------------------------------------------------  Main Exam 2
	[M2Name] [varchar](50) NULL,
	[M2S1Name] [varchar](50) NULL,
	[M2S1W1Obt] [decimal](10, 2) NULL,
	[M2S1W2Obt] [decimal](10, 2) NULL,
	[M2S1W3Obt] [decimal](10, 2) NULL,
	[M2S1SubObt] [decimal](10, 2) NULL,
	[M2S1ObjObt] [decimal](10, 2) NULL,
	[M2S1PraObt] [decimal](10, 2) NULL,

	[M2S1W1Conv] [decimal](10, 2) NULL,
	[M2S1W2Conv] [decimal](10, 2) NULL,
	[M2S1W3Conv] [decimal](10, 2) NULL,
	[M2S1SubConv] [decimal](10, 2) NULL,
	[M2S1ObjConv] [decimal](10, 2) NULL,
	[M2S1PraConv] [decimal](10, 2) NULL,

	[M2S1W1Frac] [decimal](10, 2) NULL,
	[M2S1W2Frac] [decimal](10, 2) NULL,
	[M2S1W3Frac] [decimal](10, 2) NULL,
	[M2S1SubFrac] [decimal](10, 2) NULL,
	[M2S1ObjFrac] [decimal](10, 2) NULL,
	[M2S1PraFrac] [decimal](10, 2) NULL,

	[M2S1OrigTotalObt] [decimal](10, 2) NULL,
	[M2S1TotalObt] [decimal](10, 2) NULL,
	[M2S1TotalConv] [decimal](10, 2) NULL,
	[M2S1TotalFrac] [decimal](10, 2) NULL,
	[M2S1IsPass] [bit] NULL,
	[M2S1IsAbs] [bit] NULL,

	[M2S1SOPTotalObt] [decimal](10, 2) NULL,
	[M2S1SOPTotalConv] [decimal](10, 2) NULL,
	[M2S1SOPTotalFrac] [decimal](10, 2) NULL,

	[M2S1ExamMark] [decimal](10, 2) NULL,
	[M2S1ExamConvMark] [decimal](10, 2) NULL,

	[M2S1W1IsPass] [bit] NULL,
	[M2S1W2IsPass] [bit] NULL,
	[M2S1W3IsPass] [bit] NULL,
	[M2S1SubIsPass] [bit] NULL,
	[M2S1ObjIsPass] [bit] NULL,
	[M2S1PraIsPass] [bit] NULL,

	[M2S1W1IsAbs] [bit] NULL,
	[M2S1W2IsAbs] [bit] NULL,
	[M2S1W3IsAbs] [bit] NULL,
	[M2S1SubIsAbs] [bit] NULL,
	[M2S1ObjIsAbs] [bit] NULL,
	[M2S1PraIsAbs] [bit] NULL,

	[M2S1W1IsEnable] [bit] NULL,
	[M2S1W2IsEnable] [bit] NULL,
	[M2S1W3IsEnable] [bit] NULL,
	[M2S1SubIsEnable] [bit] NULL,
	[M2S1ObjIsEnable] [bit] NULL,
	[M2S1PraIsEnable] [bit] NULL,

	[M2S1W1ExamMark] [decimal](10, 2) NULL,
	[M2S1W2ExamMark] [decimal](10, 2) NULL,
	[M2S1W3ExamMark] [decimal](10, 2) NULL,
	[M2S1SubExamMark] [decimal](10, 2) NULL,
	[M2S1ObjExamMark] [decimal](10, 2) NULL,
	[M2S1PraExamMark] [decimal](10, 2) NULL,

	[M2S1W1FullMark] [decimal](10, 2) NULL,
	[M2S1W2FullMark] [decimal](10, 2) NULL,
	[M2S1W3FullMark] [decimal](10, 2) NULL,
	[M2S1SubFullMark] [decimal](10, 2) NULL,
	[M2S1ObjFullMark] [decimal](10, 2) NULL,
	[M2S1PraFullMark] [decimal](10, 2) NULL,

	[M2S2Name] [varchar](50) NULL,
	[M2S2W1Obt] [decimal](10, 2) NULL,
	[M2S2W2Obt] [decimal](10, 2) NULL,
	[M2S2W3Obt] [decimal](10, 2) NULL,
	[M2S2SubObt] [decimal](10, 2) NULL,
	[M2S2ObjObt] [decimal](10, 2) NULL,
	[M2S2PraObt] [decimal](10, 2) NULL,

	[M2S2W1Conv] [decimal](10, 2) NULL,
	[M2S2W2Conv] [decimal](10, 2) NULL,
	[M2S2W3Conv] [decimal](10, 2) NULL,
	[M2S2SubConv] [decimal](10, 2) NULL,
	[M2S2ObjConv] [decimal](10, 2) NULL,
	[M2S2PraConv] [decimal](10, 2) NULL,

	[M2S2W1Frac] [decimal](10, 2) NULL,
	[M2S2W2Frac] [decimal](10, 2) NULL,
	[M2S2W3Frac] [decimal](10, 2) NULL,
	[M2S2SubFrac] [decimal](10, 2) NULL,
	[M2S2ObjFrac] [decimal](10, 2) NULL,
	[M2S2PraFrac] [decimal](10, 2) NULL,

	[M2S2OrigTotalObt] [decimal](10, 2) NULL,
	[M2S2TotalObt] [decimal](10, 2) NULL,
	[M2S2TotalConv] [decimal](10, 2) NULL,
	[M2S2TotalFrac] [decimal](10, 2) NULL,
	[M2S2IsPass] [bit] NULL,
	[M2S2IsAbs] [bit] NULL,

	[M2S2SOPTotalObt] [decimal](10, 2) NULL,
	[M2S2SOPTotalConv] [decimal](10, 2) NULL,
	[M2S2SOPTotalFrac] [decimal](10, 2) NULL,

	[M2S2ExamMark] [decimal](10, 2) NULL,
	[M2S2ExamConvMark] [decimal](10, 2) NULL,

	[M2S2W1IsPass] [bit] NULL,
	[M2S2W2IsPass] [bit] NULL,
	[M2S2W3IsPass] [bit] NULL,
	[M2S2SubIsPass] [bit] NULL,
	[M2S2ObjIsPass] [bit] NULL,
	[M2S2PraIsPass] [bit] NULL,

	[M2S2W1IsAbs] [bit] NULL,
	[M2S2W2IsAbs] [bit] NULL,
	[M2S2W3IsAbs] [bit] NULL,
	[M2S2SubIsAbs] [bit] NULL,
	[M2S2ObjIsAbs] [bit] NULL,
	[M2S2PraIsAbs] [bit] NULL,

	[M2S2W1IsEnable] [bit] NULL,
	[M2S2W2IsEnable] [bit] NULL,
	[M2S2W3IsEnable] [bit] NULL,
	[M2S2SubIsEnable] [bit] NULL,
	[M2S2ObjIsEnable] [bit] NULL,
	[M2S2PraIsEnable] [bit] NULL,

	[M2S2W1ExamMark] [decimal](10, 2) NULL,
	[M2S2W2ExamMark] [decimal](10, 2) NULL,
	[M2S2W3ExamMark] [decimal](10, 2) NULL,
	[M2S2SubExamMark] [decimal](10, 2) NULL,
	[M2S2ObjExamMark] [decimal](10, 2) NULL,
	[M2S2PraExamMark] [decimal](10, 2) NULL,

		[M2S2W1FullMark] [decimal](10, 2) NULL,
		[M2S2W2FullMark] [decimal](10, 2) NULL,
		[M2S2W3FullMark] [decimal](10, 2) NULL,
		[M2S2SubFullMark] [decimal](10, 2) NULL,
		[M2S2ObjFullMark] [decimal](10, 2) NULL,
		[M2S2PraFullMark] [decimal](10, 2) NULL,
	
	[M2S3Name] [varchar](50) NULL,
	[M2S3W1Obt] [decimal](10, 2) NULL,
	[M2S3W2Obt] [decimal](10, 2) NULL,
	[M2S3W3Obt] [decimal](10, 2) NULL,
	[M2S3SubObt] [decimal](10, 2) NULL,
	[M2S3ObjObt] [decimal](10, 2) NULL,
	[M2S3PraObt] [decimal](10, 2) NULL,

	[M2S3W1Conv] [decimal](10, 2) NULL,
	[M2S3W2Conv] [decimal](10, 2) NULL,
	[M2S3W3Conv] [decimal](10, 2) NULL,
	[M2S3SubConv] [decimal](10, 2) NULL,
	[M2S3ObjConv] [decimal](10, 2) NULL,
	[M2S3PraConv] [decimal](10, 2) NULL,

	[M2S3W1Frac] [decimal](10, 2) NULL,
	[M2S3W2Frac] [decimal](10, 2) NULL,
	[M2S3W3Frac] [decimal](10, 2) NULL,
	[M2S3SubFrac] [decimal](10, 2) NULL,
	[M2S3ObjFrac] [decimal](10, 2) NULL,
	[M2S3PraFrac] [decimal](10, 2) NULL,

	[M2S3OrigTotalObt] [decimal](10, 2) NULL,
	[M2S3TotalObt] [decimal](10, 2) NULL,
	[M2S3TotalConv] [decimal](10, 2) NULL,
	[M2S3TotalFrac] [decimal](10, 2) NULL,
	[M2S3IsPass] [bit] NULL,
	[M2S3IsAbs] [bit] NULL,

	[M2S3SOPTotalObt] [decimal](10, 2) NULL,
	[M2S3SOPTotalConv] [decimal](10, 2) NULL,
	[M2S3SOPTotalFrac] [decimal](10, 2) NULL,

	[M2S3ExamMark] [decimal](10, 2) NULL,
	[M2S3ExamConvMark] [decimal](10, 2) NULL,

	[M2S3W1IsPass] [bit] NULL,
	[M2S3W2IsPass] [bit] NULL,
	[M2S3W3IsPass] [bit] NULL,
	[M2S3SubIsPass] [bit] NULL,
	[M2S3ObjIsPass] [bit] NULL,
	[M2S3PraIsPass] [bit] NULL,

	[M2S3W1IsAbs] [bit] NULL,
	[M2S3W2IsAbs] [bit] NULL,
	[M2S3W3IsAbs] [bit] NULL,
	[M2S3SubIsAbs] [bit] NULL,
	[M2S3ObjIsAbs] [bit] NULL,
	[M2S3PraIsAbs] [bit] NULL,

	[M2S3W1IsEnable] [bit] NULL,
	[M2S3W2IsEnable] [bit] NULL,
	[M2S3W3IsEnable] [bit] NULL,
	[M2S3SubIsEnable] [bit] NULL,
	[M2S3ObjIsEnable] [bit] NULL,
	[M2S3PraIsEnable] [bit] NULL,

	[M2S3W1ExamMark] [decimal](10, 2) NULL,
	[M2S3W2ExamMark] [decimal](10, 2) NULL,
	[M2S3W3ExamMark] [decimal](10, 2) NULL,
	[M2S3SubExamMark] [decimal](10, 2) NULL,
	[M2S3ObjExamMark] [decimal](10, 2) NULL,
	[M2S3PraExamMark] [decimal](10, 2) NULL,
	
	[M2S3W1FullMark] [decimal](10, 2) NULL,
	[M2S3W2FullMark] [decimal](10, 2) NULL,
	[M2S3W3FullMark] [decimal](10, 2) NULL,
	[M2S3SubFullMark] [decimal](10, 2) NULL,
	[M2S3ObjFullMark] [decimal](10, 2) NULL,
	[M2S3PraFullMark] [decimal](10, 2) NULL,

	[M2SectionWiseMerit] [int] NULL,
	[M2ShiftWiseMerit] [int] NULL,
	[M2ClassWiseMerit] [int] NULL,
	[M2TotalConvertedMarks] [decimal](10, 2) NULL,
	[M2TotalConvertedMarksFraction] [decimal](10, 2) NULL,
	[M2SubjectGP] [decimal](10, 2) NULL,
	[M2SubjectGL] [varchar](50) NULL,
	[M2IsPass] [Bit] NULL,
	[M2GPA] [decimal](8, 2) NULL,
	[M2GradeLetter] [varchar](20) NULL,
	[M2TotalGP] [decimal](8, 2) NULL,
	[M2FailStudentGPA] [decimal](8, 2) NULL,
	[M2SubjectObtMarks] [decimal](10, 2) NULL,
	[M2SubjectConvertedMarks] [decimal](10, 2) NULL,
	[M2SubjectConvMarksFrac] [decimal](10, 2) NULL,
	[M2SubjectHighestMarks] [decimal](10, 2) NULL,
	[M2SubjectIsPass] [Bit] NULL,
	[M2ExamMark] [decimal](10, 2) NULL,

	[M2VirtualConvertedMarks1] [decimal](10, 2) NULL,
	[M2VirtualIsPass1] [bit] NULL,
	[M2VirtualConvertedMarks2] [decimal](10, 2) NULL,
	[M2VirtualIsPass2] [bit] NULL,
	-----------------------------------------------------------------------------------  Main Exam 3
	[M3Name] [varchar](50) NULL,
	[M3S1Name] [varchar](50) NULL,
	[M3S1W1Obt] [decimal](10, 2) NULL,
	[M3S1W2Obt] [decimal](10, 2) NULL,
	[M3S1W3Obt] [decimal](10, 2) NULL,
	[M3S1SubObt] [decimal](10, 2) NULL,
	[M3S1ObjObt] [decimal](10, 2) NULL,
	[M3S1PraObt] [decimal](10, 2) NULL,

	[M3S1W1Conv] [decimal](10, 2) NULL,
	[M3S1W2Conv] [decimal](10, 2) NULL,
	[M3S1W3Conv] [decimal](10, 2) NULL,
	[M3S1SubConv] [decimal](10, 2) NULL,
	[M3S1ObjConv] [decimal](10, 2) NULL,
	[M3S1PraConv] [decimal](10, 2) NULL,

	[M3S1W1Frac] [decimal](10, 2) NULL,
	[M3S1W2Frac] [decimal](10, 2) NULL,
	[M3S1W3Frac] [decimal](10, 2) NULL,
	[M3S1SubFrac] [decimal](10, 2) NULL,
	[M3S1ObjFrac] [decimal](10, 2) NULL,
	[M3S1PraFrac] [decimal](10, 2) NULL,

	[M3S1OrigTotalObt] [decimal](10, 2) NULL,
	[M3S1TotalObt] [decimal](10, 2) NULL,
	[M3S1TotalConv] [decimal](10, 2) NULL,
	[M3S1TotalFrac] [decimal](10, 2) NULL,
	[M3S1IsPass] [bit] NULL,
	[M3S1IsAbs] [bit] NULL,


	[M3S1SOPTotalObt] [decimal](10, 2) NULL,
	[M3S1SOPTotalConv] [decimal](10, 2) NULL,
	[M3S1SOPTotalFrac] [decimal](10, 2) NULL,

	[M3S1W1IsPass] [bit] NULL,
	[M3S1W2IsPass] [bit] NULL,
	[M3S1W3IsPass] [bit] NULL,
	[M3S1SubIsPass] [bit] NULL,
	[M3S1ObjIsPass] [bit] NULL,
	[M3S1PraIsPass] [bit] NULL,

	[M3S1W1IsAbs] [bit] NULL,
	[M3S1W2IsAbs] [bit] NULL,
	[M3S1W3IsAbs] [bit] NULL,
	[M3S1SubIsAbs] [bit] NULL,
	[M3S1ObjIsAbs] [bit] NULL,
	[M3S1PraIsAbs] [bit] NULL,

	[M3S1W1IsEnable] [bit] NULL,
	[M3S1W2IsEnable] [bit] NULL,
	[M3S1W3IsEnable] [bit] NULL,
	[M3S1SubIsEnable] [bit] NULL,
	[M3S1ObjIsEnable] [bit] NULL,
	[M3S1PraIsEnable] [bit] NULL,

	[M3S1W1ExamMark] [decimal](10, 2) NULL,
	[M3S1W2ExamMark] [decimal](10, 2) NULL,
	[M3S1W3ExamMark] [decimal](10, 2) NULL,
	[M3S1SubExamMark] [decimal](10, 2) NULL,
	[M3S1ObjExamMark] [decimal](10, 2) NULL,
	[M3S1PraExamMark] [decimal](10, 2) NULL,

	[M3S1W1FullMark] [decimal](10, 2) NULL,
	[M3S1W2FullMark] [decimal](10, 2) NULL,
	[M3S1W3FullMark] [decimal](10, 2) NULL,
	[M3S1SubFullMark] [decimal](10, 2) NULL,
	[M3S1ObjFullMark] [decimal](10, 2) NULL,
	[M3S1PraFullMark] [decimal](10, 2) NULL,

	[M3S2Name] [varchar](50) NULL,
	[M3S2W1Obt] [decimal](10, 2) NULL,
	[M3S2W2Obt] [decimal](10, 2) NULL,
	[M3S2W3Obt] [decimal](10, 2) NULL,
	[M3S2SubObt] [decimal](10, 2) NULL,
	[M3S2ObjObt] [decimal](10, 2) NULL,
	[M3S2PraObt] [decimal](10, 2) NULL,

	[M3S2W1Conv] [decimal](10, 2) NULL,
	[M3S2W2Conv] [decimal](10, 2) NULL,
	[M3S2W3Conv] [decimal](10, 2) NULL,
	[M3S2SubConv] [decimal](10, 2) NULL,
	[M3S2ObjConv] [decimal](10, 2) NULL,
	[M3S2PraConv] [decimal](10, 2) NULL,

	[M3S2W1Frac] [decimal](10, 2) NULL,
	[M3S2W2Frac] [decimal](10, 2) NULL,
	[M3S2W3Frac] [decimal](10, 2) NULL,
	[M3S2SubFrac] [decimal](10, 2) NULL,
	[M3S2ObjFrac] [decimal](10, 2) NULL,
	[M3S2PraFrac] [decimal](10, 2) NULL,

	[M3S2OrigTotalObt] [decimal](10, 2) NULL,
	[M3S2TotalObt] [decimal](10, 2) NULL,
	[M3S2TotalConv] [decimal](10, 2) NULL,
	[M3S2TotalFrac] [decimal](10, 2) NULL,
	[M3S2IsPass] [bit] NULL,
	[M3S2IsAbs] [bit] NULL,

	[M3S2SOPTotalObt] [decimal](10, 2) NULL,
	[M3S2SOPTotalConv] [decimal](10, 2) NULL,
	[M3S2SOPTotalFrac] [decimal](10, 2) NULL,

	[M3S2W1IsPass] [bit] NULL,
	[M3S2W2IsPass] [bit] NULL,
	[M3S2W3IsPass] [bit] NULL,
	[M3S2SubIsPass] [bit] NULL,
	[M3S2ObjIsPass] [bit] NULL,
	[M3S2PraIsPass] [bit] NULL,

	[M3S2W1IsAbs] [bit] NULL,
	[M3S2W2IsAbs] [bit] NULL,
	[M3S2W3IsAbs] [bit] NULL,
	[M3S2SubIsAbs] [bit] NULL,
	[M3S2ObjIsAbs] [bit] NULL,
	[M3S2PraIsAbs] [bit] NULL,

	[M3S2W1IsEnable] [bit] NULL,
	[M3S2W2IsEnable] [bit] NULL,
	[M3S2W3IsEnable] [bit] NULL,
	[M3S2SubIsEnable] [bit] NULL,
	[M3S2ObjIsEnable] [bit] NULL,
	[M3S2PraIsEnable] [bit] NULL,

	[M3S2W1ExamMark] [decimal](10, 2) NULL,
	[M3S2W2ExamMark] [decimal](10, 2) NULL,
	[M3S2W3ExamMark] [decimal](10, 2) NULL,
	[M3S2SubExamMark] [decimal](10, 2) NULL,
	[M3S2ObjExamMark] [decimal](10, 2) NULL,
	[M3S2PraExamMark] [decimal](10, 2) NULL,

	
	[M3S2W1FullMark] [decimal](10, 2) NULL,
	[M3S2W2FullMark] [decimal](10, 2) NULL,
	[M3S2W3FullMark] [decimal](10, 2) NULL,
	[M3S2SubFullMark] [decimal](10, 2) NULL,
	[M3S2ObjFullMark] [decimal](10, 2) NULL,
	[M3S2PraFullMark] [decimal](10, 2) NULL,


	[M3S3Name] [varchar](50) NULL,
	[M3S3W1Obt] [decimal](10, 2) NULL,
	[M3S3W2Obt] [decimal](10, 2) NULL,
	[M3S3W3Obt] [decimal](10, 2) NULL,
	[M3S3SubObt] [decimal](10, 2) NULL,
	[M3S3ObjObt] [decimal](10, 2) NULL,
	[M3S3PraObt] [decimal](10, 2) NULL,

	[M3S3W1Conv] [decimal](10, 2) NULL,
	[M3S3W2Conv] [decimal](10, 2) NULL,
	[M3S3W3Conv] [decimal](10, 2) NULL,
	[M3S3SubConv] [decimal](10, 2) NULL,
	[M3S3ObjConv] [decimal](10, 2) NULL,
	[M3S3PraConv] [decimal](10, 2) NULL,

	[M3S3W1Frac] [decimal](10, 2) NULL,
	[M3S3W2Frac] [decimal](10, 2) NULL,
	[M3S3W3Frac] [decimal](10, 2) NULL,
	[M3S3SubFrac] [decimal](10, 2) NULL,
	[M3S3ObjFrac] [decimal](10, 2) NULL,
	[M3S3PraFrac] [decimal](10, 2) NULL,

	[M3S3OrigTotalObt] [decimal](10, 2) NULL,
	[M3S3TotalObt] [decimal](10, 2) NULL,
	[M3S3TotalConv] [decimal](10, 2) NULL,
	[M3S3TotalFrac] [decimal](10, 2) NULL,
	[M3S3IsPass] [bit] NULL,
	[M3S3IsAbs] [bit] NULL,

	[M3S3SOPTotalObt] [decimal](10, 2) NULL,
	[M3S3SOPTotalConv] [decimal](10, 2) NULL,
	[M3S3SOPTotalFrac] [decimal](10, 2) NULL,

	[M3S3W1IsPass] [bit] NULL,
	[M3S3W2IsPass] [bit] NULL,
	[M3S3W3IsPass] [bit] NULL,
	[M3S3SubIsPass] [bit] NULL,
	[M3S3ObjIsPass] [bit] NULL,
	[M3S3PraIsPass] [bit] NULL,

	[M3S3W1IsAbs] [bit] NULL,
	[M3S3W2IsAbs] [bit] NULL,
	[M3S3W3IsAbs] [bit] NULL,
	[M3S3SubIsAbs] [bit] NULL,
	[M3S3ObjIsAbs] [bit] NULL,
	[M3S3PraIsAbs] [bit] NULL,

	[M3S3W1IsEnable] [bit] NULL,
	[M3S3W2IsEnable] [bit] NULL,
	[M3S3W3IsEnable] [bit] NULL,
	[M3S3SubIsEnable] [bit] NULL,
	[M3S3ObjIsEnable] [bit] NULL,
	[M3S3PraIsEnable] [bit] NULL,

	[M3S3W1ExamMark] [decimal](10, 2) NULL,
	[M3S3W2ExamMark] [decimal](10, 2) NULL,
	[M3S3W3ExamMark] [decimal](10, 2) NULL,
	[M3S3SubExamMark] [decimal](10, 2) NULL,
	[M3S3ObjExamMark] [decimal](10, 2) NULL,
	[M3S3PraExamMark] [decimal](10, 2) NULL,
	
	[M3S3W1FullMark] [decimal](10, 2) NULL,
	[M3S3W2FullMark] [decimal](10, 2) NULL,
	[M3S3W3FullMark] [decimal](10, 2) NULL,
	[M3S3SubFullMark] [decimal](10, 2) NULL,
	[M3S3ObjFullMark] [decimal](10, 2) NULL,
	[M3S3PraFullMark] [decimal](10, 2) NULL,

	[M3SectionWiseMerit] [int] NULL,
	[M3ShiftWiseMerit] [int] NULL,
	[M3ClassWiseMerit] [int] NULL,
	[M3TotalConvertedMarks] [decimal](10, 2) NULL,
	[M3TotalConvertedMarksFraction] [decimal](10, 2) NULL,
	[M3SubjectGP] [decimal](10, 2) NULL,
	[M3SubjectGL] [varchar](50) NULL,
	[M3IsPass] [Bit] NULL,
	[M3GPA] [decimal](8, 2) NULL,
	[M3GradeLetter] [varchar](20) NULL,
	[M3TotalGP] [decimal](8, 2) NULL,
	[M3FailStudentGPA] [decimal](8, 2) NULL,
	[M3SubjectObtMarks] [decimal](10, 2) NULL,
	[M3SubjectConvertedMarks] [decimal](10, 2) NULL,
	[M3SubjectConvMarksFrac] [decimal](10, 2) NULL,
	[M3SubjectHighestMarks] [decimal](10, 2) NULL,
	[M3SubjectIsPass] [Bit] NULL,
	[M3ExamMark] [decimal](10, 2) NULL,

	[M3VirtualConvertedMarks1] [decimal](10, 2) NULL,
	[M3VirtualIsPass1] [bit] NULL,
	[M3VirtualConvertedMarks2] [decimal](10, 2) NULL,
	[M3VirtualIsPass2] [bit] NULL,

	-----------------------------------------------------------------------------------  Main Exam 4

	[M4Name] [varchar](50) NULL,
	[M4S1Name] [varchar](50) NULL,
	[M4S1W1Obt] [decimal](10, 2) NULL,
	[M4S1W2Obt] [decimal](10, 2) NULL,
	[M4S1W3Obt] [decimal](10, 2) NULL,
	[M4S1SubObt] [decimal](10, 2) NULL,
	[M4S1ObjObt] [decimal](10, 2) NULL,
	[M4S1PraObt] [decimal](10, 2) NULL,

	[M4S1W1Conv] [decimal](10, 2) NULL,
	[M4S1W2Conv] [decimal](10, 2) NULL,
	[M4S1W3Conv] [decimal](10, 2) NULL,
	[M4S1SubConv] [decimal](10, 2) NULL,
	[M4S1ObjConv] [decimal](10, 2) NULL,
	[M4S1PraConv] [decimal](10, 2) NULL,

	[M4S1W1Frac] [decimal](10, 2) NULL,
	[M4S1W2Frac] [decimal](10, 2) NULL,
	[M4S1W3Frac] [decimal](10, 2) NULL,
	[M4S1SubFrac] [decimal](10, 2) NULL,
	[M4S1ObjFrac] [decimal](10, 2) NULL,
	[M4S1PraFrac] [decimal](10, 2) NULL,

	[M4S1OrigTotalObt] [decimal](10, 2) NULL,
	[M4S1TotalObt] [decimal](10, 2) NULL,
	[M4S1TotalConv] [decimal](10, 2) NULL,
	[M4S1TotalFrac] [decimal](10, 2) NULL,
	[M4S1IsPass] [bit] NULL,
	[M4S1IsAbs] [bit] NULL,

	[M4S1SOPTotalObt] [decimal](10, 2) NULL,
	[M4S1SOPTotalConv] [decimal](10, 2) NULL,
	[M4S1SOPTotalFrac] [decimal](10, 2) NULL,

	[M4S1W1IsPass] [bit] NULL,
	[M4S1W2IsPass] [bit] NULL,
	[M4S1W3IsPass] [bit] NULL,
	[M4S1SubIsPass] [bit] NULL,
	[M4S1ObjIsPass] [bit] NULL,
	[M4S1PraIsPass] [bit] NULL,

	[M4S1W1IsAbs] [bit] NULL,
	[M4S1W2IsAbs] [bit] NULL,
	[M4S1W3IsAbs] [bit] NULL,
	[M4S1SubIsAbs] [bit] NULL,
	[M4S1ObjIsAbs] [bit] NULL,
	[M4S1PraIsAbs] [bit] NULL,

	[M4S1W1IsEnable] [bit] NULL,
	[M4S1W2IsEnable] [bit] NULL,
	[M4S1W3IsEnable] [bit] NULL,
	[M4S1SubIsEnable] [bit] NULL,
	[M4S1ObjIsEnable] [bit] NULL,
	[M4S1PraIsEnable] [bit] NULL,

	[M4S1W1ExamMark] [decimal](10, 2) NULL,
	[M4S1W2ExamMark] [decimal](10, 2) NULL,
	[M4S1W3ExamMark] [decimal](10, 2) NULL,
	[M4S1SubExamMark] [decimal](10, 2) NULL,
	[M4S1ObjExamMark] [decimal](10, 2) NULL,
	[M4S1PraExamMark] [decimal](10, 2) NULL,


	[M4S2Name] [varchar](50) NULL,
	[M4S2W1Obt] [decimal](10, 2) NULL,
	[M4S2W2Obt] [decimal](10, 2) NULL,
	[M4S2W3Obt] [decimal](10, 2) NULL,
	[M4S2SubObt] [decimal](10, 2) NULL,
	[M4S2ObjObt] [decimal](10, 2) NULL,
	[M4S2PraObt] [decimal](10, 2) NULL,

	[M4S2W1Conv] [decimal](10, 2) NULL,
	[M4S2W2Conv] [decimal](10, 2) NULL,
	[M4S2W3Conv] [decimal](10, 2) NULL,
	[M4S2SubConv] [decimal](10, 2) NULL,
	[M4S2ObjConv] [decimal](10, 2) NULL,
	[M4S2PraConv] [decimal](10, 2) NULL,

	[M4S2W1Frac] [decimal](10, 2) NULL,
	[M4S2W2Frac] [decimal](10, 2) NULL,
	[M4S2W3Frac] [decimal](10, 2) NULL,
	[M4S2SubFrac] [decimal](10, 2) NULL,
	[M4S2ObjFrac] [decimal](10, 2) NULL,
	[M4S2PraFrac] [decimal](10, 2) NULL,

	[M4S2OrigTotalObt] [decimal](10, 2) NULL,
	[M4S2TotalObt] [decimal](10, 2) NULL,
	[M4S2TotalConv] [decimal](10, 2) NULL,
	[M4S2TotalFrac] [decimal](10, 2) NULL,
	[M4S2IsPass] [bit] NULL,
	[M4S2IsAbs] [bit] NULL,

	[M4S2SOPTotalObt] [decimal](10, 2) NULL,
	[M4S2SOPTotalConv] [decimal](10, 2) NULL,
	[M4S2SOPTotalFrac] [decimal](10, 2) NULL,

	[M4S2W1IsPass] [bit] NULL,
	[M4S2W2IsPass] [bit] NULL,
	[M4S2W3IsPass] [bit] NULL,
	[M4S2SubIsPass] [bit] NULL,
	[M4S2ObjIsPass] [bit] NULL,
	[M4S2PraIsPass] [bit] NULL,

	[M4S2W1IsAbs] [bit] NULL,
	[M4S2W2IsAbs] [bit] NULL,
	[M4S2W3IsAbs] [bit] NULL,
	[M4S2SubIsAbs] [bit] NULL,
	[M4S2ObjIsAbs] [bit] NULL,
	[M4S2PraIsAbs] [bit] NULL,

	[M4S2W1IsEnable] [bit] NULL,
	[M4S2W2IsEnable] [bit] NULL,
	[M4S2W3IsEnable] [bit] NULL,
	[M4S2SubIsEnable] [bit] NULL,
	[M4S2ObjIsEnable] [bit] NULL,
	[M4S2PraIsEnable] [bit] NULL,

	[M4S2W1ExamMark] [decimal](10, 2) NULL,
	[M4S2W2ExamMark] [decimal](10, 2) NULL,
	[M4S2W3ExamMark] [decimal](10, 2) NULL,
	[M4S2SubExamMark] [decimal](10, 2) NULL,
	[M4S2ObjExamMark] [decimal](10, 2) NULL,
	[M4S2PraExamMark] [decimal](10, 2) NULL,

	[M4S3Name] [varchar](50) NULL,
	[M4S3W1Obt] [decimal](10, 2) NULL,
	[M4S3W2Obt] [decimal](10, 2) NULL,
	[M4S3W3Obt] [decimal](10, 2) NULL,
	[M4S3SubObt] [decimal](10, 2) NULL,
	[M4S3ObjObt] [decimal](10, 2) NULL,
	[M4S3PraObt] [decimal](10, 2) NULL,

	[M4S3W1Conv] [decimal](10, 2) NULL,
	[M4S3W2Conv] [decimal](10, 2) NULL,
	[M4S3W3Conv] [decimal](10, 2) NULL,
	[M4S3SubConv] [decimal](10, 2) NULL,
	[M4S3ObjConv] [decimal](10, 2) NULL,
	[M4S3PraConv] [decimal](10, 2) NULL,

	[M4S3W1Frac] [decimal](10, 2) NULL,
	[M4S3W2Frac] [decimal](10, 2) NULL,
	[M4S3W3Frac] [decimal](10, 2) NULL,
	[M4S3SubFrac] [decimal](10, 2) NULL,
	[M4S3ObjFrac] [decimal](10, 2) NULL,
	[M4S3PraFrac] [decimal](10, 2) NULL,

	[M4S3OrigTotalObt] [decimal](10, 2) NULL,
	[M4S3TotalObt] [decimal](10, 2) NULL,
	[M4S3TotalConv] [decimal](10, 2) NULL,
	[M4S3TotalFrac] [decimal](10, 2) NULL,
	[M4S3IsPass] [bit] NULL,
	[M4S3IsAbs] [bit] NULL,

	[M4S3SOPTotalObt] [decimal](10, 2) NULL,
	[M4S3SOPTotalConv] [decimal](10, 2) NULL,
	[M4S3SOPTotalFrac] [decimal](10, 2) NULL,

	[M4S3W1IsPass] [bit] NULL,
	[M4S3W2IsPass] [bit] NULL,
	[M4S3W3IsPass] [bit] NULL,
	[M4S3SubIsPass] [bit] NULL,
	[M4S3ObjIsPass] [bit] NULL,
	[M4S3PraIsPass] [bit] NULL,

	[M4S3W1IsAbs] [bit] NULL,
	[M4S3W2IsAbs] [bit] NULL,
	[M4S3W3IsAbs] [bit] NULL,
	[M4S3SubIsAbs] [bit] NULL,
	[M4S3ObjIsAbs] [bit] NULL,
	[M4S3PraIsAbs] [bit] NULL,

	[M4S3W1IsEnable] [bit] NULL,
	[M4S3W2IsEnable] [bit] NULL,
	[M4S3W3IsEnable] [bit] NULL,
	[M4S3SubIsEnable] [bit] NULL,
	[M4S3ObjIsEnable] [bit] NULL,
	[M4S3PraIsEnable] [bit] NULL,

	[M4S3W1ExamMark] [decimal](10, 2) NULL,
	[M4S3W2ExamMark] [decimal](10, 2) NULL,
	[M4S3W3ExamMark] [decimal](10, 2) NULL,
	[M4S3SubExamMark] [decimal](10, 2) NULL,
	[M4S3ObjExamMark] [decimal](10, 2) NULL,
	[M4S3PraExamMark] [decimal](10, 2) NULL,

	[M4SectionWiseMerit] [int] NULL,
	[M4ShiftWiseMerit] [int] NULL,
	[M4ClassWiseMerit] [int] NULL,
	[M4TotalConvertedMarks] [decimal](10, 2) NULL,
	[M4TotalConvertedMarksFraction] [decimal](10, 2) NULL,
	[M4SubjectGP] [decimal](10, 2) NULL,
	[M4SubjectGL] [varchar](50) NULL,
	[M4IsPass] [Bit] NULL,
	[M4GPA] [decimal](8, 2) NULL,
	[M4GradeLetter] [varchar](20) NULL,
	[M4TotalGP] [decimal](8, 2) NULL,
	[M4SubjectObtMarks] [decimal](10, 2) NULL,
	[M4SubjectConvertedMarks] [decimal](10, 2) NULL,
	[M4SubjectConvMarksFrac] [decimal](10, 2) NULL,
	[M4SubjectHighestMarks] [decimal](10, 2) NULL,
	[M4ExamMark] [decimal](10, 2) NULL,

	[M4VirtualConvertedMarks1] [decimal](10, 2) NULL,
	[M4VirtualIsPass1] [bit] NULL,
	[M4VirtualConvertedMarks2] [decimal](10, 2) NULL,
	[M4VirtualIsPass2] [bit] NULL,


	--------------------------------------------------------------  Grand Exam
	GrandExamName  [varchar](MAX) NULL, 
	[GS1W1Obt] [decimal](10, 2) NULL,
	[GS1W2Obt] [decimal](10, 2) NULL,
	[GS1W3Obt] [decimal](10, 2) NULL,
	[GS1SubObt] [decimal](10, 2) NULL,
	[GS1ObjObt] [decimal](10, 2) NULL,
	[GS1PraObt] [decimal](10, 2) NULL,

	[GS1W1Conv] [decimal](10, 2) NULL,
	[GS1W2Conv] [decimal](10, 2) NULL,
	[GS1W3Conv] [decimal](10, 2) NULL,
	[GS1SubConv] [decimal](10, 2) NULL,
	[GS1ObjConv] [decimal](10, 2) NULL,
	[GS1PraConv] [decimal](10, 2) NULL,

	[GS1W1Frac] [decimal](10, 2) NULL,
	[GS1W2Frac] [decimal](10, 2) NULL,
	[GS1W3Frac] [decimal](10, 2) NULL,
	[GS1SubFrac] [decimal](10, 2) NULL,
	[GS1ObjFrac] [decimal](10, 2) NULL,
	[GS1PraFrac] [decimal](10, 2) NULL,

	[GS1TotalObt] [decimal](10, 2) NULL,
	[GS1SubExamIsPass] bit NULL,
	[GS1TotalConv] [decimal](10, 2) NULL,
	[GS1TotalFrac] [decimal](10, 2) NULL,
	[GS1OrigTotalObt] [decimal](10, 2) NULL,

	[GS1SOPTotalObt] [decimal](10, 2) NULL,   
	[GS1SOPTotalConv] [decimal](10, 2) NULL,
	[GS1SOPTotalFrac] [decimal](10, 2) NULL,

	[GS1ExamConvMark] [decimal](10, 2) NULL,

	[GS1W1IsPass] [bit] NULL,
	[GS1W2IsPass] [bit] NULL,
	[GS1W3IsPass] [bit] NULL,
	[GS1SubIsPass] [bit] NULL,
	[GS1ObjIsPass] [bit] NULL,
	[GS1PraIsPass] [bit] NULL,

	[GS1W1IsEnable] [bit] NULL,
	[GS1W2IsEnable] [bit] NULL,
	[GS1W3IsEnable] [bit] NULL,
	[GS1SubIsEnable] [bit] NULL,
	[GS1ObjIsEnable] [bit] NULL,
	[GS1PraIsEnable] [bit] NULL,

	[GS1W1ExamMark] [decimal](10, 2) NULL,
	[GS1W2ExamMark] [decimal](10, 2) NULL,
	[GS1W3ExamMark] [decimal](10, 2) NULL,
	[GS1SubExamMark] [decimal](10, 2) NULL,
	[GS1ObjExamMark] [decimal](10, 2) NULL,
	[GS1PraExamMark] [decimal](10, 2) NULL,


	[GS2W1Obt] [decimal](10, 2) NULL,
	[GS2W2Obt] [decimal](10, 2) NULL,
	[GS2W3Obt] [decimal](10, 2) NULL,
	[GS2SubObt] [decimal](10, 2) NULL,
	[GS2ObjObt] [decimal](10, 2) NULL,
	[GS2PraObt] [decimal](10, 2) NULL,

	[GS2W1Conv] [decimal](10, 2) NULL,
	[GS2W2Conv] [decimal](10, 2) NULL,
	[GS2W3Conv] [decimal](10, 2) NULL,
	[GS2SubConv] [decimal](10, 2) NULL,
	[GS2ObjConv] [decimal](10, 2) NULL,
	[GS2PraConv] [decimal](10, 2) NULL,

	[GS2W1Frac] [decimal](10, 2) NULL,
	[GS2W2Frac] [decimal](10, 2) NULL,
	[GS2W3Frac] [decimal](10, 2) NULL,
	[GS2SubFrac] [decimal](10, 2) NULL,
	[GS2ObjFrac] [decimal](10, 2) NULL,
	[GS2PraFrac] [decimal](10, 2) NULL,

	[GS2W1IsPass] [bit] NULL,
	[GS2W2IsPass] [bit] NULL,
	[GS2W3IsPass] [bit] NULL,
	[GS2SubIsPass] [bit] NULL,
	[GS2ObjIsPass] [bit] NULL,
	[GS2PraIsPass] [bit] NULL,

	[GS2W1IsEnable] [bit] NULL,
	[GS2W2IsEnable] [bit] NULL,
	[GS2W3IsEnable] [bit] NULL,
	[GS2SubIsEnable] [bit] NULL,
	[GS2ObjIsEnable] [bit] NULL,
	[GS2PraIsEnable] [bit] NULL,

	[GS2W1ExamMark] [decimal](10, 2) NULL,
	[GS2W2ExamMark] [decimal](10, 2) NULL,
	[GS2W3ExamMark] [decimal](10, 2) NULL,
	[GS2SubExamMark] [decimal](10, 2) NULL,
	[GS2ObjExamMark] [decimal](10, 2) NULL,
	[GS2PraExamMark] [decimal](10, 2) NULL,

	[GS2TotalObt] [decimal](10, 2) NULL,
	[GS2TotalConv] [decimal](10, 2) NULL,
	[GS2TotalFrac] [decimal](10, 2) NULL,
	[GS2OrigTotalObt] [decimal](10, 2) NULL,

	[GS2SOPTotalObt] [decimal](10, 2) NULL,
	[GS2SOPTotalConv] [decimal](10, 2) NULL,
	[GS2SOPTotalFrac] [decimal](10, 2) NULL,

	[GS2ExamConvMark] [decimal](10, 2) NULL,

	[GS3W1Obt] [decimal](10, 2) NULL,
	[GS3W2Obt] [decimal](10, 2) NULL,
	[GS3W3Obt] [decimal](10, 2) NULL,
	[GS3SubObt] [decimal](10, 2) NULL,
	[GS3ObjObt] [decimal](10, 2) NULL,
	[GS3PraObt] [decimal](10, 2) NULL,

	[GS3W1Conv] [decimal](10, 2) NULL,
	[GS3W2Conv] [decimal](10, 2) NULL,
	[GS3W3Conv] [decimal](10, 2) NULL,
	[GS3SubConv] [decimal](10, 2) NULL,
	[GS3ObjConv] [decimal](10, 2) NULL,
	[GS3PraConv] [decimal](10, 2) NULL,

	[GS3W1Frac] [decimal](10, 2) NULL,
	[GS3W2Frac] [decimal](10, 2) NULL,
	[GS3W3Frac] [decimal](10, 2) NULL,
	[GS3SubFrac] [decimal](10, 2) NULL,
	[GS3ObjFrac] [decimal](10, 2) NULL,
	[GS3PraFrac] [decimal](10, 2) NULL,

	[GS3W1IsPass] [bit] NULL,
	[GS3W2IsPass] [bit] NULL,
	[GS3W3IsPass] [bit] NULL,
	[GS3SubIsPass] [bit] NULL,
	[GS3ObjIsPass] [bit] NULL,
	[GS3PraIsPass] [bit] NULL,

	[GS3W1IsEnable] [bit] NULL,
	[GS3W2IsEnable] [bit] NULL,
	[GS3W3IsEnable] [bit] NULL,
	[GS3SubIsEnable] [bit] NULL,
	[GS3ObjIsEnable] [bit] NULL,
	[GS3PraIsEnable] [bit] NULL,

	[GS3W1ExamMark] [decimal](10, 2) NULL,
	[GS3W2ExamMark] [decimal](10, 2) NULL,
	[GS3W3ExamMark] [decimal](10, 2) NULL,
	[GS3SubExamMark] [decimal](10, 2) NULL,
	[GS3ObjExamMark] [decimal](10, 2) NULL,
	[GS3PraExamMark] [decimal](10, 2) NULL,

	[GS3TotalObt] [decimal](10, 2) NULL,
	[GS3TotalConv] [decimal](10, 2) NULL,
	[GS3TotalFrac] [decimal](10, 2) NULL,
	[GS3OrigTotalObt] [decimal](10, 2) NULL,

	[GS3SOPTotalObt] [decimal](10, 2) NULL,
	[GS3SOPTotalConv] [decimal](10, 2) NULL,
	[GS3SOPTotalFrac] [decimal](10, 2) NULL,

	[GS3ExamConvMark] [decimal](10, 2) NULL,

	[FinalIsPass] [bit] NULL,
	[SubjectIsPass] [bit] NULL,
	[TotalMarks] [decimal](8, 2) NULL,
	[SubjectObtMarks] [decimal](10, 2) NULL,
	[SubjectConvertedMarks] [decimal](10, 2) NULL,
	[SubjectConvertedFrac] [decimal](10, 2) NULL,
	[SubjectGP] [decimal](10, 2) NULL,
	[SubjectGL] [varchar](50) NULL,
	[GradeLetter] [nvarchar](10) NULL,
	[GPA] [decimal](8, 2) NULL,
	[GPAWithOut4Sub] [decimal](8, 2) NULL,
	[AvgGradeLetter] [nvarchar](max) NULL,
	[OverAllMerit] [int] NULL,
	[SectionWiseMerit] [int] NULL,
	[ShiftWiseMerit] [int] NULL,
	[ClassWiseMerit] [int] NULL,
	[MyProperty] [int] NULL,

	[TotalConvertedMarks] [decimal](8, 2) NULL,
	[TotalConvertedMarksFraction] [decimal](8, 2) NULL,
	[FailStudentGPA] [decimal](8, 2) NULL,
	[TotalGP] [decimal](8, 2) NULL,
	[TotalGPWithOut4Sub] [decimal](8, 2) NULL,
	[SubjectHighestMark] [decimal](10, 2) NULL,
	[SubjectOriginalObtMarks] [decimal](10, 2) NULL,

	[VirtualConvertedMarks1] [decimal](10, 2) NULL,
	[VirtualIsPass1] [bit] NULL,
	[VirtualConvertedMarks2] [decimal](10, 2) NULL,
	[VirtualIsPass2] [bit] NULL,


	[GFullMark] [decimal](10, 2) NULL,
	[GExamMark] [decimal](10, 2) NULL

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]